<!DOCTYPE html>
<html
        lang="en"
        class="light-style layout-menu-fixed"
        dir="ltr"
        data-theme="theme-default"
        data-assets-path="../assets/"
        data-template="vertical-menu-template-free"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
<head th:replace="fragments  :: page_head('Dashboard | Users','none')">
</head>

  <body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <!-- Menu -->
        <aside th:replace="fragments :: page_sidebar">
        </aside>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
          <!-- Navbar -->

          <nav th:replace="fragments :: page_navbar">
          </nav>

          <!-- / Navbar -->

          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <h4 class="fw-bold py-3 mb-2"><span class="text-muted fw-light">USERS /</span> All Users</h4>
              <div th:if="${message != null}" class="alert alert-success alert-dismissible" role="alert">
                [[${message}]]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>


          	<div class="demo-inline-spacing mb-5">
          	<div class="btn-group">
              <a th:href="@{/users/new}"><button type="button" class="btn-group btn rounded-pill btn-primary">
                <span class="tf-icons bx bx-user-plus"></span>&nbsp; Add
              </button></a>
          	</div>
              
                        <div class="btn-group">
                          <button
                            type="button"
                            class="btn btn-primary  rounded-pill dropdown-toggle hide-arrow"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                          >
                            <i class="bx bxs-file-export"></i>&nbsp;Export To
                          </button>
                          <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" th:href="@{/users/export/csv}"><i class='bx bx-file'></i>&nbsp;CSV</a></li>
                            <li><a class="dropdown-item" th:href="@{/users/export/excel}"><i class='bx bxs-spreadsheet' ></i>&nbsp;Excel</a></li>
                            <li><a class="dropdown-item" th:href="@{/users/export/pdf}"><i class='bx bxs-file-pdf' ></i>&nbsp;PDF</a></li>
                            <li>
                              <hr class="dropdown-divider" />
                            </li>
                            <li><a class="dropdown-item" href="javascript:void(0);">Separated link</a></li>
                          </ul>
                        </div>
                        </div>

              <div th:replace="fragments/search_filter :: search()">

              </div>
              <!-- User Table -->
              <div class="card">
                <h5 class="card-header">Users</h5>
                <div class="table-responsive text-nowrap">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                      
                        <th th:replace="fragments/column_link :: column_link('id', 'User Id', 'none')"></th>
                        <th class="text-decoration-none text-dark">Photo</th>
                        <th th:replace="fragments/column_link :: column_link('email', 'Email', 'none')"></th>
                        <th th:replace="fragments/column_link :: column_link('firstName', 'First name', 'none')"></th>
                        <th th:replace="fragments/column_link :: column_link('lastName', 'Last Name', 'none')"></th>
                        <th class="text-decoration-none text-dark">Role</th>
                        <th th:replace="fragments/column_link :: column_link('enabled', 'Enabled', 'none')"></th>
                        <th class="text-decoration-none text-dark">Actions</th>
                                                
                      </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                      <tr th:each="user : ${listUsers}">
                        <td><strong>[[${user.id}]]</strong></td>
                        <td>
                          <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
                            <li     data-bs-toggle="tooltip"
                                    data-popup="tooltip-custom"
                                    data-bs-placement="top"
                                    class="avatar avatar-xs pull-up"
                                    title="Lilian Fuller"
                            >
                              <span th:if="${user.photos == null}" class="bx bx-user-circle" ></span>
                              <img th:if="${user.photos != null}" th:src="@{${user.photosImagePath}}" alt="Avatar" class="rounded-circle" />
                            </li>
                          </ul>
                        </td>
                        <td>[[${user.email}]]</td>
                        <td>[[${user.firstName}]]</td>
                        <td>[[${user.lastName}]]</td>
                        <td>[[${user.roles}]]</td>

                        <div th:replace="fragments/enabled_status :: status(${user.enabled}, 'User', '/users/' + ${user.id})"></div>

                        <td>
                          <div class="dropdown">
                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                              <i class="bx bx-dots-vertical-rounded"></i>
                            </button>
                            <div class="dropdown-menu">
                              <a class="dropdown-item" th:href="@{'/users/edit/'+ ${user.id}}"
                                ><i class="bx bx-edit-alt me-1"></i> Edit</a
                              >
                              <a class="dropdown-item delete-link"
                                 th:href="@{'/users/delete/'+ ${user.id}}"
                                 th:entityId="${user.id}"
                                ><i class="bx bx-trash me-1"></i> Delete</a
                              >
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <!--/ User Table-->

              <hr class="my-3" />

              <div th:replace="fragments/pagination :: pagination('users','/users')"></div>


              <div th:replace="modal :: modal_confirm">
              </div>



              <hr class="my-5" />

            </div>
            <!-- / Content -->

            <!-- Footer -->
            <footer th:replace="fragments :: page_footer">
            </footer>
            <!-- / Footer -->

            <div class="content-backdrop fade"></div>
          </div>
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
      </div>

      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <!-- / Layout wrapper -->

    <script type="text/javascript" th:src="@{/js/common_list.js}"></script>

    <script type="text/javascript">
      $(document).ready(function (){
        $(".delete-link").on("click", function (e){
          e.preventDefault();
          showDeleteConfirmationModal($(this), 'user');
        })
      })

      function clearFilter(){
        window.location = "[[@{/users}]]"
      }
    </script>


    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script th:src="@{/assets/vendor/libs/jquery/jquery.js}"></script>
    <script th:src="@{/assets/vendor/libs/popper/popper.js}"></script>
    <script th:src="@{/assets/vendor/js/bootstrap.js}"></script>
    <script th:src="@{/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js}"></script>

    <script th:src="@{/assets/vendor/js/menu.js}"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->
    <script th:src="@{/assets/vendor/libs/apex-charts/apexcharts.js}"></script>

    <!-- Main JS -->
    <script th:src="@{/assets/js/main.js}"></script>

    <!-- Page JS -->
    <script th:src="@{/assets/js/dashboards-analytics.js}"></script>

  </body>
</html>
