<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments :: page_head('Users - Shopme Admin', 'none')" />
 </head>

<body class="sidebar-menu-collapsed">
  <div class="se-pre-con"></div>

  <section th:replace="fragments :: menu"></section>
  
  <div class="main-content">
    <!-- content -->
    <div class="container-fluid content-top-gap">
      
    <!-- breadcrumbs -->
    <nav aria-label="breadcrumb" class="mb-4">
      <ol class="breadcrumb my-breadcrumb">
          <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Users</li>
      </ol>
  </nav>
  <!-- //breadcrumbs -->

        <div>
          <h2>Manage Users</h2>
          <a th:href="@{/users/new}" class="fas fa-folder-plus fa-2x icon-dark mr-2"></a>
        </div>

        <div th:if="${message !=null}" class="alert alert-success text-center">
            [[${message}]]
        </div>

        <div>
          <table class="table table-bordered table-hover  table-striped table-responsive-xl">
            <thead class="thead-dark">
              <tr>
                <th scope="col">User Id</th>
                <th scope="col">Photos</th>
                <th scope="col">Email</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Roles</th>
                <th scope="col">Enabled</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
             <tr th:each="user : ${listUsers}">
                <td>[[${user.id }]]</td>
                <td>
                  <span th:if="${user.photos == null}" class="fas fa-portrait fa-3x icon-silver"></span>
                  <img th:if="${user.photos != null}" th:src="@{${user.photosImagePath}}"
                    style="width: 100px" />
                </td>
                <td>[[${user.email }]]</td>
                <td>[[${user.firstName }]]</td>
                <td>[[${user.lastName }]]</td>
                <td>[[${user.roles }]]</td>
                <td >
                  <div th:replace="fragments :: status(${user.enabled}, 'user', '/users/' + ${user.id})"> </div>
                </td>
                <td>
                  <div th:replace="fragments :: edit('user', '/users/edit/' + ${user.id})"> </div>
                  &nbsp;&nbsp;
                  <div th:replace="fragments :: delete('user', ${user.id}, '/users/delete/' + ${user.id}, true)"> </div>
                </td>
             </tr>
            </tbody>
          </table>
        </div>
                     
                     
		<!-- <div class="text-center m-1" th:if="${totalItems > 0}">
			<span>Showing users # [[${startCount}]] to [[${endCount}]] of [[${totalItems}]]</span>
		</div>
		<div class="text-center m-1" th:unless="${totalItems > 0}">
			<span>No users found</span>
		</div> -->
                    
                    
		<!-- Pagination -->
    <!-- <div>
      <nav>
        <ul class="pagination justify-content-center">
          <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
            <a class="page-link" th:href="@{/users/page/1}">First</a>
          </li>		  
          <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
            <a class="page-link" th:href="@{'/users/page/' + ${currentPage - 1}}">Previous</a>
          </li>
          
          <li th:class="${currentPage != i ? 'page-item': 'page-item active'}" 
            th:each="i : ${#numbers.sequence(1, totalPages)}">
            <a class="page-link" th:href="@{'/users/page/' + ${i}}">[[${i}]]</a>
          </li>
  
          
          <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
            <a class="page-link" th:href="@{'/users/page/' + ${currentPage + 1}}">Next</a>
          </li>
          
          <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
            <a class="page-link" th:href="@{'/users/page/' + ${totalPages}}">Last</a>
          </li>		    
        </ul>
      </nav>	
    </div -->        


    <div th:replace="fragments :: modal_fragments" > </div>                                         
       
    
    </div>
  </div>

  <!-- <div th:replace="modal_fragments :: modal_dialog"></div> -->
    <!--footer section start-->
    <footer class="dashboard" th:replace="fragments :: footer"></footer>
  <!--footer section end-->
 
  
  
  <script src="assets/js/jquery-3.3.1.min.js"></script>
  <script src="assets/js/jquery-1.10.2.min.js"></script>
   <!-- move top -->
<button onclick="topFunction()" id="movetop" class="bg-primary" title="Go to top">
  <span class="fa fa-angle-up"></span>
</button>
<script>
  // When the user scrolls down 20px from the top of the document, show the button
  window.onscroll = function () {
    scrollFunction()
  };

  function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      document.getElementById("movetop").style.display = "block";
    } else {
      document.getElementById("movetop").style.display = "none";
    }
  }

  // When the user clicks on the button, scroll to the top of the document
  function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
  }
</script>
<!-- /move top -->
  
  <script src="assets/js/jquery.nicescroll.js"></script>
  <script src="assets/js/scripts.js"></script>
  
  <!-- close script -->
  <script>
    var closebtns = document.getElementsByClassName("close-grid");
    var i;
  
    for (i = 0; i < closebtns.length; i++) {
      closebtns[i].addEventListener("click", function () {
        this.parentElement.style.display = 'none';
      });
    }
  </script>
  <!-- //close script -->
  
  <!-- disable body scroll when navbar is in active -->
  <script>
    $(function () {
      $('.sidebar-menu-collapsed').click(function () {
        $('body').toggleClass('noscroll');
      })
    });
  </script>
  <!-- disable body scroll when navbar is in active -->
  
   <!-- loading-gif Js -->
   <script src="assets/js/modernizr.js"></script>
   <script>
       $(window).load(function () {
           // Animate loader off screen
           $(".se-pre-con").fadeOut("slow");;
       });
   </script>
   <!--// loading-gif Js -->
  
  <!-- Bootstrap Core JavaScript -->
  <script src="assets/js/bootstrap.min.js"></script>
  <script th:src="@{/assets/js/common_list.js}"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $(".link-delete").on("click", function(e) {
        e.preventDefault();
        link = $(this);
        //alert($(this).attr("href"));
        userId = link.attr("userId");
        $("#yesButton").attr("href", link.attr("href"));
        $("#confirmText").text("Are you sure you want to delete this user ID " + userId + "?");
        $("#confirmModal").modal();
      });
    });
  </script>

<script type="text/javascript">
  $(document).ready(function() {
	$("#logoutLink").on("click", function(e) {
		e.preventDefault();
		document.logoutForm.submit();
	});
});
</script>

</body>
</html>