<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Users - Shopme Admin', 'none')">
 </head>

<body class="sidebar-menu-collapsed">
  <!-- <div class="se-pre-con"></div> -->

  <section th:replace="fragments :: menu"></section>
  
  <div class="main-content">
    <!-- content -->
    <div class="container-fluid content-top-gap">
      
    <!-- breadcrumbs -->
    <nav aria-label="breadcrumb" class="mb-4">
      <ol class="breadcrumb my-breadcrumb">
          <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Users</li>
      </ol>
  </nav>
  <!-- //breadcrumbs -->

    
      <th:block sec:authorize="hasAuthority('Admin')">
						<a  th:href="@{/account}">Account</a>

							
				</th:block>
  

    <div>
      <h2>Manage Users</h2>	
      <a th:href="@{/users/new}" class="fas fa-user-plus fa-2x icon-dark mr-2"></a>
    </div>
    
    <div th:replace="fragments :: search_form_and_message('/users/page/1')" />
    
    <div class="full-details">
      <table class="table table-bordered table-striped table-hover table-responsive-xl">
        <thead class="thead-dark">
          <tr>
            <th class="hideable-column">
              <th th:replace="fragments :: column_link('/users', 'id', 'User ID', 'tag')" />
            </th>
            
            <th>Photos</th>
            
            <th class="hideable-column">
              <th th:replace="fragments :: column_link('/users', 'email', 'E-mail', 'tag')" />
            </th>
            
            <th th:replace="fragments :: column_link('/users', 'firstName', 'First Name', 'none')" />
            <th th:replace="fragments :: column_link('/users', 'lastName', 'Last Name', 'none')" />
            
            <th>Roles</th>
            <th th:replace="fragments :: column_link('/users', 'enabled', 'Enabled', 'none')" />
            <th></th>
          </tr>								
        </thead>
        <tbody>
          <tr th:each="user : ${listUsers}">
            <td class="hideable-column">[[${user.id}]]</td>
            <td>
              <div th:replace="fragments :: user_photos" />
            </td>
            <td class="hideable-column">[[${user.email}]]</td>
            <td>[[${user.firstName}]]</td>
            <td>[[${user.lastName}]]</td>
            <td>[[${user.roles}]]</td>
            
            <td>
              <div th:replace="fragments :: status(${user.enabled}, 'user', '/users/' + ${user.id})" />
            </td>
            
            <td>
              <div th:replace="fragments :: edit('user', '/users/edit/' + ${user.id})" />
              &nbsp;&nbsp;
              <div th:replace="fragments :: delete('user', ${user.id}, '/users/delete/' + ${user.id}, true)" />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    
    
    
    <div th:replace="fragments :: pagination('/users', 'users')"></div>
    
    <div th:replace="modal_fragments :: confirm_modal" />
                     
    
    </div>
  </div>

  <!-- <div th:replace="modal_fragments :: modal_dialog"></div> -->
    <!--footer section start-->
    <footer class="dashboard" th:replace="fragments :: footer"></footer>
  <!--footer section end-->
 
  
  
  <script src="assets/js/jquery-3.3.1.min.js"></script>
  <script src="assets/js/jquery-1.10.2.min.js"></script>
   <!-- move top -->
<button onclick="topFunction()" id="movetop" class="bg-primary" title="Go to top">
  <span class="fa fa-angle-up"></span>
</button>
<!-- /move top -->
  
  <script src="assets/js/jquery.nicescroll.js"></script>
  <script src="assets/js/scripts.js"></script>
  
  <!-- close script -->
  <script>
    var closebtns = document.getElementsByClassName("close-grid");
    var i;
  
    for (i = 0; i < closebtns.length; i++) {
      closebtns[i].addEventListener("click", function () {
        this.parentElement.style.display = 'none';
      });
    }
  </script>
  <!-- //close script -->
  
  <!-- disable body scroll when navbar is in active -->
  <script>
    $(function () {
      $('.sidebar-menu-collapsed').click(function () {
        $('body').toggleClass('noscroll');
      })
    });
  </script>
  <!-- disable body scroll when navbar is in active -->
  
   <!-- loading-gif Js -->
   <script src="assets/js/modernizr.js"></script>
   <script>
       $(window).load(function () {
           // Animate loader off screen
           $(".se-pre-con").fadeOut("slow");;
       });
   </script>
   <!--// loading-gif Js -->
  
  <!-- Bootstrap Core JavaScript -->
   <script src="assets/js/bootstrap.min.js"></script>

<script th:src="@{/assets/js/common_list.js}"></script>
<script type="text/javascript">
	moduleURL = "[[@{/users}]]";

	$(document).ready(function() {
		$(".link-delete").on("click", function(e) {
			e.preventDefault();
			showDeleteConfirmModal($(this), 'user');
		});
	});
</script>



</body>
</html>