  <!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head></head>
   <!-- th:replace="fragments  :: page_head('Home - Shopme')" -->
    <!-- </head>  -->
  <body>
  
  
    
    <!-- <div th:replace="navigation :: menu">
    </div> -->

   
      
      <!-- <div class="row">
        <div class="col" th:each="cat : ${listCategories}">
          <div><img th:src="@{${cat.imagePath}}" width="80" /></div>
          <div>
            <a th:href="@{'/c/' + ${cat.alias}}">[[${cat.name}]]</a>
          </div>
        </div>
      </div> -->	

    <!-- <div class="row pt-5 mt-5 text-center">
      <div  th:replace="fragments :: footer">
      </div>
    </div> -->


    <!-- <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/jquery-ui.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/owl.carousel.min.js}"></script>
    <script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
    <script th:src="@{/js/aos.js}"></script>
    <script th:src="@{/js/main.js}"></script> -->
  </body>
</html>