<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
    <head th:replace="fragments/common/head :: content('none')"></head>

    <body>

        <div th:replace="fragments/common/header :: content"></div>

        <!-- ========== MAIN CONTENT ========== -->
        <main id="content" role="main">
            <!-- breadcrumb -->
            <div class="bg-gray-13 bg-md-transparent">
                <div class="container">
                    <!-- breadcrumb -->
                    <div class="my-md-3">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb mb-3 flex-nowrap flex-xl-wrap overflow-auto overflow-xl-visble">
                                <li class="breadcrumb-item flex-shrink-0 flex-xl-shrink-1"><a th:href="@{/}">Home</a></li>
                                <li class="breadcrumb-item flex-shrink-0 flex-xl-shrink-1 active" aria-current="page">My Account</li>
                            </ol>
                        </nav>
                    </div>
                    <!-- End breadcrumb -->
                </div>
            </div>
            <!-- End breadcrumb -->

            <div class="container">
                <div class="mb-4">
                    <h1 class="text-center">No Account? Register</h1>
                </div>
                <div class="my-4 my-xl-8">
                    <div class="row">


                        <div class="col-md-5 ml-xl-auto mr-md-auto mb-8 mb-md-0">

                            <!-- Title -->
                            <div class="border-bottom border-color-1 mb-6">
                                <h3 class="d-inline-block section-title mb-0 pb-2 font-size-26">Register</h3>
                            </div>

                            <p class="text-gray-90 mb-4">Complete this form to make your account.</p>


                            <!-- End Title -->


                            <form class="js-validate" th:object="${customer}" onsubmit="return checkEmailUnique(this)" th:action="@{/create_customer}" method="post">

                                <!-- Form Group -->
                                <div class="js-form-message form-group">
                                    <label class="form-label" for="signinSrFirstNameExample2">First Name <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" name="firstName" id="signinSrFirstNameExample2" placeholder="First Name" aria-label="First Name" required
                                           th:field="*{firstName}" minlength="2" maxlength="45"
                                           data-msg="Invalid Input. Please try again."
                                           data-error-class="u-has-error"
                                           data-success-class="u-has-success">
                                </div>
                                <!-- End Form Group -->

                                <!-- Form Group -->
                                <div class="js-form-message form-group">
                                    <label class="form-label" for="signinSrLastNameExample2">Last Name <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" name="lastName" id="signinSrLastNameExample2" placeholder="Last Name" aria-label="Last Name" required
                                           th:field="*{lastName}" minlength="2" maxlength="45"
                                           data-msg="Invalid Input. Please try again."
                                           data-error-class="u-has-error"
                                           data-success-class="u-has-success">
                                </div>
                                <!-- End Form Group -->

                                <!-- Form Group -->
                                <div class="js-form-message form-group">
                                    <label class="form-label" for="signinSrEmailExample3">Email address
                                        <span class="text-danger">*</span>
                                    </label>
                                    <input type="email" class="form-control" name="email" id="signinSrEmailExample3" placeholder="Username or Email address" aria-label="Username or Email address" required
                                            th:field="*{email}" minlength="8" maxlength="45"
                                            data-msg="Please enter a valid email address."
                                            data-error-class="u-has-error"
                                            data-success-class="u-has-success">
                                </div>
                                <!-- End Form Group -->

                                <!-- Form Group -->
                                <div class="js-form-message form-group">
                                    <label class="form-label" for="signinSrPhoneExample3">Phone Number
                                        <span class="text-danger">*</span>
                                    </label>
                                    <input type="text" class="form-control" name="phoneNumber" id="signinSrPhoneExample3" placeholder="Phone Number" aria-label="Phone Number" required
                                           th:field="*{phoneNumber}" minlength="10" maxlength="15"
                                           data-msg="Invalid Phone number."
                                           data-error-class="u-has-error"
                                           data-success-class="u-has-success">
                                </div>
                                <!-- End Form Group -->

                                <!-- Form Group -->
                                <div class="js-form-message form-group">
                                    <label class="form-label" for="signinSrPasswordExample2">Password <span class="text-danger">*</span></label>
                                    <input type="password" class="form-control" name="password" id="signinSrPasswordExample2" placeholder="Password" aria-label="Password" required
                                           th:field="*{password}" minlength="8" maxlength="15"
                                           oninput="checkPasswordMatch(document.getElementById('signinSrConfirmPasswordExample2'))"
                                    data-msg="Your password is invalid. Please try again."
                                    data-error-class="u-has-error"
                                    data-success-class="u-has-success">
                                </div>
                                <!-- End Form Group -->

                                <!-- Form Group -->
                                <div class="js-form-message form-group">
                                    <label class="form-label" for="signinSrConfirmPasswordExample2">Confirm Password <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" name="confirm password" id="signinSrConfirmPasswordExample2" placeholder="Confirm Password" aria-label="Password" required
                                           minlength="8" maxlength="15"
                                           oninput="checkPasswordMatch(this)"
                                           data-msg="Your password is invalid. Please try again."
                                           data-error-class="u-has-error"
                                           data-success-class="u-has-success">
                                </div>
                                <!-- End Form Group -->

                                <!-- Form Group -->
                                <div class="js-form-message form-group">
                                    <label class="form-label" for="signinSrAddress1Example2">Address Line 1<span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" name="addressLine1" id="signinSrAddress1Example2" placeholder="Address Line 1" aria-label="Address Line 1" required
                                           th:field="*{addressLine1}" minlength="3" maxlength="64"
                                           data-msg="Invalid Input. Please try again."
                                           data-error-class="u-has-error"
                                           data-success-class="u-has-success">
                                </div>
                                <!-- End Form Group -->

                                <!-- Form Group -->
                                <div class="js-form-message form-group">
                                    <label class="form-label" for="signinSrAddress2Example2">Address Line 2</label>
                                    <input type="text" class="form-control" name="addressLine2" id="signinSrAddress2Example2" placeholder="Address Line 2" aria-label="Address Line 2"
                                           th:field="*{addressLine2}" minlength="3" maxlength="64"
                                           data-msg="Invalid Input. Please try again."
                                           data-error-class="u-has-error"
                                           data-success-class="u-has-success">
                                </div>
                                <!-- End Form Group -->


                                <!-- Form Group -->
                                <div class="js-form-message form-group">
                                    <label class="form-label" for="signinSrCityExample2">City<span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" name="city" id="signinSrCityExample2" placeholder="City" aria-label="City" required
                                           th:field="*{city}" minlength="2" maxlength="45"
                                           data-msg="Invalid Input. Please try again."
                                           data-error-class="u-has-error"
                                           data-success-class="u-has-success">
                                </div>
                                <!-- End Form Group -->

                                <!-- Form Group -->
                                <div class="js-form-message form-group">
                                    <label class="form-label" for="signinSrCountryExample2">Country <span class="text-danger">*</span></label>
                                    <select class="form-control" name="firstName" id="signinSrCountryExample2" placeholder="Country" aria-label="Country" required
                                            data-msg="Invalid Input. Please try again."
                                            data-error-class="u-has-error"
                                            data-success-class="u-has-success" th:field="*{country}">
                                        <th:block th:each="country : ${listCountries}">
                                            <option th:value="${country.id}">[[${country.name}]]</option>
                                        </th:block>
                                    </select>
                                </div>
                                <!-- End Form Group -->

                                <!-- Form Group -->
                                <div class="js-form-message form-group">
                                    <label class="form-label" for="signinSrStateExample2">State/Provinces <span class="text-danger">*</span></label>
                                    <input list="listStates" class="form-control" name="state" id="signinSrStateExample2" placeholder="State/Provinces" aria-label="State/Provinces" required
                                           th:field="*{state}" minlength="3" maxlength="45"
                                           data-msg="Invalid Input. Please try again."
                                           data-error-class="u-has-error"
                                           data-success-class="u-has-success">
                                    <datalist id="listStates"></datalist>
                                </div>
                                <!-- End Form Group -->


                                <!-- Form Group -->
                                <div class="js-form-message form-group">
                                    <label class="form-label" for="signinSrPostExample2">Postal Code <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" name="postalCode" id="signinSrPostExample2" placeholder="Postal Code" aria-label="Postal Code" required
                                           th:field="*{postalCode}" minlength="2" maxlength="10"
                                           data-msg="Invalid Input. Please try again."
                                           data-error-class="u-has-error"
                                           data-success-class="u-has-success">
                                </div>
                                <!-- End Form Group -->

                                <!-- Button -->
                                <div class="mb-1">
                                    <div class="mb-3">
                                        <button type="submit" class="btn btn-primary-dark-w px-5">Get Started</button>
                                    </div>

                                    <div class="text-center mb-4">
                                        <span class="small text-muted">Already have an account?</span>
                                        <a class="js-animation-link small text-dark" th:href="@{/login}">Login</a>
                                    </div>

                                </div>
                                <!-- End Button -->
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- ========== END MAIN CONTENT ========== -->

        <div th:replace="fragments/common/footer :: content"></div>


        <div th:replace="fragments/common/secondary_contents :: content"></div>

        <div th:replace="fragments/login_register/sidebar_nav :: content"></div>

        <div th:replace="fragments/common/modal :: modal"></div>

        <!-- Go to Top -->
        <a class="js-go-to u-go-to" href="my-account.html#"
            data-position='{"bottom": 15, "right": 15 }'
            data-type="fixed"
            data-offset-top="400"
            data-compensation="#header"
            data-show-effect="slideInUp"
            data-hide-effect="slideOutDown">
            <span class="fas fa-arrow-up u-go-to__inner"></span>
        </a>
        <!-- End Go to Top -->

        <!-- JS Global Compulsory -->
        <script th:src="@{/assets/vendor/jquery/dist/jquery.min.js}"></script>
        <script th:src="@{/assets/vendor/jquery-migrate/dist/jquery-migrate.min.js}"></script>
        <script th:src="@{/assets/vendor/popper.js/dist/umd/popper.min.js}"></script>
        <script th:src="@{/assets/vendor/bootstrap/bootstrap.min.js}"></script>

        <!-- JS Implementing Plugins -->
        <script th:src="@{/assets/vendor/jquery.countdown.min.js}"></script>
        <script th:src="@{/assets/vendor/hs-megamenu/src/hs.megamenu.js}"></script>
        <script th:src="@{/assets/vendor/svg-injector/dist/svg-injector.min.js}"></script>
        <script th:src="@{/assets/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js}"></script>
        <script th:src="@{/assets/vendor/jquery-validation/dist/jquery.validate.min.js}"></script>
        <script th:src="@{/assets/vendor/fancybox/jquery.fancybox.min.js}"></script>
        <script th:src="@{/assets/vendor/typed.js/lib/typed.min.js}"></script>
        <script th:src="@{/assets/vendor/slick-carousel/slick/slick.js}"></script>
        <script th:src="@{/assets/vendor/bootstrap-select/dist/js/bootstrap-select.min.js}"></script>

        <!-- JS Electro -->
        <script th:src="@{/assets/js/hs.core.js}"></script>
        <script th:src="@{/assets/js/components/hs.countdown.js}"></script>
        <script th:src="@{/assets/js/components/hs.header.js}"></script>
        <script th:src="@{/assets/js/components/hs.hamburgers.js}"></script>
        <script th:src="@{/assets/js/components/hs.unfold.js}"></script>
        <script th:src="@{/assets/js/components/hs.focus-state.js}"></script>
        <script th:src="@{/assets/js/components/hs.malihu-scrollbar.js}"></script>
        <script th:src="@{/assets/js/components/hs.validation.js}"></script>
        <script th:src="@{/assets/js/components/hs.fancybox.js}"></script>
        <script th:src="@{/assets/js/components/hs.onscroll-animation.js}"></script>
        <script th:src="@{/assets/js/components/hs.slick-carousel.js}"></script>
        <script th:src="@{/assets/js/components/hs.show-animation.js}"></script>
        <script th:src="@{/assets/js/components/hs.svg-injector.js}"></script>
        <script th:src="@{/assets/js/components/hs.go-to.js}"></script>
        <script th:src="@{/assets/js/components/hs.selectpicker.js}"></script>
        <script th:src="@{/assets/js/common_form.js}"></script>


        <!-- JS Plugins Init. -->
        <script>

            contextPath = "[[@{/}]]";

            $(document).ready(function (){
                dropDownCountry = $("#signinSrCountryExample2");
                dataListState = $("#listStates");
                fieldState = $("#signinSrStateExample2");

                dropDownCountry.on("change", function (){
                    loadStatesForCountry();
                    fieldState.val("").focus();
                })

            });

            function loadStatesForCountry(){
                selectedCountry = $("#signinSrCountryExample2 option:selected");
                countryId = selectedCountry.val();
                url = contextPath + "states/list_states_by_country/" + countryId;

                $.get(url, function (responseJSON){
                    dataListState.empty();

                    $.each(responseJSON, function (index, state){
                        $("<option>").val(state.name).text(state.name).appendTo(dataListState);
                    });
                }).fail(function (){
                    showErrorModal("Could not connect to server");
                });
            }

            function checkPasswordMatch(confirmPassword){
                if (confirmPassword.value != $("#signinSrPasswordExample2").val()){
                    confirmPassword.setCustomValidity("Password do not match!");
                }else{
                    confirmPassword.setCustomValidity("");

                }
            }


            function checkEmailUnique(form){
                url = contextPath + "customers/check_unique_email";
                userEmail = $("#signinSrEmailExample3").val();
                csrfValue = $("input[name='_csrf']").val();
                params = {email: userEmail, _csrf: csrfValue};

                console.log(userEmail+csrfValue);

                $.post(url, params, function(response) {
                    if(response == "OK"){
                        form.submit();
                    }else if(response =="Duplicated"){
                        showWarningModal("There is another user having the email "+userEmail);
                    }else{
                        showErrorModal(" Unknown response from server");
                    }

                }).fail(function(){
                    showErrorModal("Could not connect to server");
                });

                return false;
            }

            $(window).on('load', function () {
                // initialization of HSMegaMenu component
                $('.js-mega-menu').HSMegaMenu({
                    event: 'hover',
                    direction: 'horizontal',
                    pageContainer: $('.container'),
                    breakpoint: 767.98,
                    hideTimeOut: 0
                });
            });

            $(document).on('ready', function () {
                // initialization of header
                $.HSCore.components.HSHeader.init($('#header'));

                // initialization of animation
                $.HSCore.components.HSOnScrollAnimation.init('[data-animation]');

                // initialization of unfold component
                $.HSCore.components.HSUnfold.init($('[data-unfold-target]'), {
                    afterOpen: function () {
                        $(this).find('input[type="search"]').focus();
                    }
                });

                // initialization of HSScrollNav component
                $.HSCore.components.HSScrollNav.init($('.js-scroll-nav'), {
                  duration: 700
                });

                // initialization of quantity counter
                $.HSCore.components.HSQantityCounter.init('.js-quantity');

                // initialization of popups
                $.HSCore.components.HSFancyBox.init('.js-fancybox');

                // initialization of countdowns
                var countdowns = $.HSCore.components.HSCountdown.init('.js-countdown', {
                    yearsElSelector: '.js-cd-years',
                    monthsElSelector: '.js-cd-months',
                    daysElSelector: '.js-cd-days',
                    hoursElSelector: '.js-cd-hours',
                    minutesElSelector: '.js-cd-minutes',
                    secondsElSelector: '.js-cd-seconds'
                });

                // initialization of malihu scrollbar
                $.HSCore.components.HSMalihuScrollBar.init($('.js-scrollbar'));

                // initialization of forms
                $.HSCore.components.HSFocusState.init();

                // initialization of form validation
                $.HSCore.components.HSValidation.init('.js-validate', {
                    rules: {
                        confirmPassword: {
                            equalTo: '#signupPassword'
                        }
                    }
                });

                // initialization of forms
                $.HSCore.components.HSRangeSlider.init('.js-range-slider');

                // initialization of show animations
                $.HSCore.components.HSShowAnimation.init('.js-animation-link');

                // initialization of fancybox
                $.HSCore.components.HSFancyBox.init('.js-fancybox');

                // initialization of slick carousel
                $.HSCore.components.HSSlickCarousel.init('.js-slick-carousel');

                // initialization of go to
                $.HSCore.components.HSGoTo.init('.js-go-to');

                // initialization of hamburgers
                $.HSCore.components.HSHamburgers.init('#hamburgerTrigger');

                // initialization of unfold component
                $.HSCore.components.HSUnfold.init($('[data-unfold-target]'), {
                    beforeClose: function () {
                        $('#hamburgerTrigger').removeClass('is-active');
                    },
                    afterClose: function() {
                        $('#headerSidebarList .collapse.show').collapse('hide');
                    }
                });

                $('#headerSidebarList [data-toggle="collapse"]').on('click', function (e) {
                    e.preventDefault();

                    var target = $(this).data('target');

                    if($(this).attr('aria-expanded') === "true") {
                        $(target).collapse('hide');
                    } else {
                        $(target).collapse('show');
                    }
                });

                // initialization of unfold component
                $.HSCore.components.HSUnfold.init($('[data-unfold-target]'));

                // initialization of select picker
                $.HSCore.components.HSSelectPicker.init('.js-select');
            });
        </script>
    </body>
</html>
