<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="fragments/common/head :: content('none')"></head>

<body>

<div th:replace="fragments/common/header :: content"></div>

<!-- ========== MAIN CONTENT ========== -->
<main id="content" role="main">
    <!-- breadcrumb -->
    <div class="bg-gray-13 bg-md-transparent">
        <div class="container">
            <!-- breadcrumb -->
            <div class="my-md-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-3 flex-nowrap flex-xl-wrap overflow-auto overflow-xl-visble">
                        <li class="breadcrumb-item flex-shrink-0 flex-xl-shrink-1"><a
                                th:href="@{/}">Home</a></li>
                        <li aria-current="page" class="breadcrumb-item flex-shrink-0 flex-xl-shrink-1 active">Categories</li>
                    </ol>
                </nav>
            </div>
            <!-- End breadcrumb -->
        </div>
    </div>
    <!-- End breadcrumb -->

    <div class="container">
        <div class="row">
            <div class="d-none d-xl-block col-xl-3 col-wd-2gdot5">
                <div class="mb-8 border border-width-2 border-color-3 borders-radius-6">
                    <!-- List -->
                    <ul class="list-unstyled mb-0 sidebar-navbar" id="sidebarNav">
                        <li>
                            <a aria-controls="sidebarNav1Collapse" aria-expanded="false"
                               class="dropdown-toggle dropdown-toggle-collapse dropdown-title" data-target="#sidebarNav1Collapse" data-toggle="collapse"
                               href="javascript:;" role="button">
                                Show All Categories
                            </a>

                            <div class="collapse" data-parent="#sidebarNav" id="sidebarNav1Collapse">
                                <ul class="list-unstyled dropdown-list" id="sidebarNav1">
                                    <!-- Menu List -->
                                    <li><a class="dropdown-item" href="product-categories-5-column-sidebar.html#">Accessories<span
                                            class="text-gray-25 font-size-12 font-weight-normal"> (56)</span></a></li>
                                    <li><a class="dropdown-item" href="product-categories-5-column-sidebar.html#">Cameras
                                        & Photography<span
                                                class="text-gray-25 font-size-12 font-weight-normal"> (11)</span></a>
                                    </li>
                                    <li><a class="dropdown-item" href="product-categories-5-column-sidebar.html#">Computer
                                        Components<span
                                                class="text-gray-25 font-size-12 font-weight-normal"> (22)</span></a>
                                    </li>
                                    <li><a class="dropdown-item" href="product-categories-5-column-sidebar.html#">Gadgets<span
                                            class="text-gray-25 font-size-12 font-weight-normal"> (5)</span></a></li>
                                    <li><a class="dropdown-item" href="product-categories-5-column-sidebar.html#">Home
                                        Entertainment<span
                                                class="text-gray-25 font-size-12 font-weight-normal"> (7)</span></a>
                                    </li>
                                    <li><a class="dropdown-item" href="product-categories-5-column-sidebar.html#">Laptops
                                        & Computers<span
                                                class="text-gray-25 font-size-12 font-weight-normal"> (42)</span></a>
                                    </li>
                                    <li><a class="dropdown-item" href="product-categories-5-column-sidebar.html#">Printers
                                        & Ink<span class="text-gray-25 font-size-12 font-weight-normal"> (63)</span></a>
                                    </li>
                                    <li><a class="dropdown-item" href="product-categories-5-column-sidebar.html#">Smart
                                        Phones & Tablets<span
                                                class="text-gray-25 font-size-12 font-weight-normal"> (11)</span></a>
                                    </li>
                                    <li><a class="dropdown-item" href="product-categories-5-column-sidebar.html#">TV &
                                        Audio<span class="text-gray-25 font-size-12 font-weight-normal"> (66)</span></a>
                                    </li>
                                    <li><a class="dropdown-item" href="product-categories-5-column-sidebar.html#">Video
                                        Games & Consoles<span
                                                class="text-gray-25 font-size-12 font-weight-normal"> (31)</span></a>
                                    </li>
                                    <!-- End Menu List -->
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a class="dropdown-current active" href="product-categories-5-column-sidebar.html#">Laptops
                                & Computers</a>

                            <ul class="list-unstyled dropdown-list">
                                <!-- Menu List -->
                                <li><a class="dropdown-item" href="product-categories-5-column-sidebar.html#">Accessories<span
                                        class="text-gray-25 font-size-12 font-weight-normal"> (56)</span></a></li>
                                <li><a class="dropdown-item" href="product-categories-5-column-sidebar.html#">All in One<span
                                        class="text-gray-25 font-size-12 font-weight-normal"> (51)</span></a></li>
                                <li><a class="dropdown-item"
                                       href="product-categories-5-column-sidebar.html#">Gaming<span
                                        class="text-gray-25 font-size-12 font-weight-normal"> (44)</span></a></li>
                                <li><a class="dropdown-item" href="product-categories-5-column-sidebar.html#">Headphones<span
                                        class="text-gray-25 font-size-12 font-weight-normal"> (89)</span></a></li>
                                <li><a class="dropdown-item" href="product-categories-5-column-sidebar.html#">Headphone
                                    Accessories<span
                                            class="text-gray-25 font-size-12 font-weight-normal"> (4)</span></a></li>
                                <li><a class="dropdown-item"
                                       href="product-categories-5-column-sidebar.html#">Pendrives<span
                                        class="text-gray-25 font-size-12 font-weight-normal"> (14)</span></a></li>
                                <li><a class="dropdown-item" href="product-categories-5-column-sidebar.html#">Power
                                    Banks<span class="text-gray-25 font-size-12 font-weight-normal"> (61)</span></a>
                                </li>
                                <!-- End Menu List -->
                            </ul>
                        </li>
                    </ul>
                    <!-- End List -->
                </div>
            </div>
            <div class="col-xl-9 col-wd-9gdot5">
                <div class="d-flex justify-content-between align-items-center border-bottom border-color-1 flex-lg-nowrap flex-wrap mb-4">
                    <h3 class="section-title section-title__full mb-0 pb-2 font-size-22">All Categories</h3>
                </div>
                <ul class="row list-unstyled products-group no-gutters mb-6">
                    <th:block th:each="cat : ${listCategories}">
                        <li class="col-6 col-md-2gdot4 product-item">
                            <div class="product-item__outer h-100 w-100">
                                <div class="product-item__inner px-xl-4 p-3">
                                    <div class="product-item__body pb-xl-2">
                                        <div class="mb-2">
                                            <a class="d-block text-center" th:href="@{'/c/' + ${cat.alias}}"><img
                                                    alt="Image Description" class="img-fluid"
                                                    th:src="@{${cat.imagePath}}"></a>
                                        </div>
                                        <h5 class="text-center mb-1 product-item__title"><a
                                                class="font-size-15 text-gray-90" th:href="@{'/c/' + ${cat.alias}}">[[${cat.name}]]</a>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </th:block>
                </ul>
            </div>
        </div>
        <!-- Brand Carousel -->
        <div class="mb-8">
            <div class="py-2 border-top border-bottom">
                <div class="js-slick-carousel u-slick my-1"
                     data-arrow-left-classes="fa fa-angle-left u-slick__arrow-classic-inner--left z-index-9"
                     data-arrow-right-classes="fa fa-angle-right u-slick__arrow-classic-inner--right"
                     data-arrows-classes="d-none d-lg-inline-block u-slick__arrow-normal u-slick__arrow-centered--y"
                     data-responsive='[{
                                "breakpoint": 992,
                                "settings": {
                                    "slidesToShow": 2
                                }
                            }, {
                                "breakpoint": 768,
                                "settings": {
                                    "slidesToShow": 1
                                }
                            }, {
                                "breakpoint": 554,
                                "settings": {
                                    "slidesToShow": 1
                                }
                            }]'
                     data-slides-scroll="1"
                     data-slides-show="5">
                    <div class="js-slide">
                        <a class="link-hover__brand" href="product-categories-5-column-sidebar.html#">
                            <img alt="Image Description" class="img-fluid m-auto max-height-50"
                                 src="../../assets/img/200X60/img1.png">
                        </a>
                    </div>
                    <div class="js-slide">
                        <a class="link-hover__brand" href="product-categories-5-column-sidebar.html#">
                            <img alt="Image Description" class="img-fluid m-auto max-height-50"
                                 src="../../assets/img/200X60/img2.png">
                        </a>
                    </div>
                    <div class="js-slide">
                        <a class="link-hover__brand" href="product-categories-5-column-sidebar.html#">
                            <img alt="Image Description" class="img-fluid m-auto max-height-50"
                                 src="../../assets/img/200X60/img3.png">
                        </a>
                    </div>
                    <div class="js-slide">
                        <a class="link-hover__brand" href="product-categories-5-column-sidebar.html#">
                            <img alt="Image Description" class="img-fluid m-auto max-height-50"
                                 src="../../assets/img/200X60/img4.png">
                        </a>
                    </div>
                    <div class="js-slide">
                        <a class="link-hover__brand" href="product-categories-5-column-sidebar.html#">
                            <img alt="Image Description" class="img-fluid m-auto max-height-50"
                                 src="../../assets/img/200X60/img5.png">
                        </a>
                    </div>
                    <div class="js-slide">
                        <a class="link-hover__brand" href="product-categories-5-column-sidebar.html#">
                            <img alt="Image Description" class="img-fluid m-auto max-height-50"
                                 src="../../assets/img/200X60/img6.png">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Brand Carousel -->
    </div>
</main>
<!-- ========== END MAIN CONTENT ========== -->

<div th:replace="fragments/common/footer :: content"></div>


<div th:replace="fragments/common/secondary_contents :: content"></div>

<div th:replace="fragments/login_register/sidebar_nav :: content"></div>

<div th:replace="fragments/common/modal :: modal_confirm"></div>

<th:block>
    <div th:fragment="price_fragment(productPrice)" th:remove="tag">
        <span th:if="${CURRENCY_SYMBOL_POSITION} == 'Before Price'" th:remove="tag">[[${CURRENCY_SYMBOL}]]</span>[[${#numbers.formatDecimal(productPrice,
        1, THOUSANDS_POINT_TYPE, DECIMAL_DIGITS, DECIMAL_POINT_TYPE)}]]<span
            th:if="${CURRENCY_SYMBOL_POSITION} == 'After Price'" th:remove="tag">[[${CURRENCY_SYMBOL}]]</span>
    </div>
</th:block>

<!-- Go to Top -->
<a class="js-go-to u-go-to" data-compensation="#header"
   data-hide-effect="slideOutDown"
   data-offset-top="400"
   data-position='{"bottom": 15, "right": 15 }'
   data-show-effect="slideInUp"
   data-type="fixed"
   href="shop-list-view-small.html#">
    <span class="fas fa-arrow-up u-go-to__inner"></span>
</a>
<!-- End Go to Top -->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<!-- JS Global Compulsory -->
<script th:src="@{/assets/vendor/jquery/dist/jquery.min.js}"></script>
<script th:src="@{/assets/vendor/jquery-migrate/dist/jquery-migrate.min.js}"></script>
<script th:src="@{/assets/vendor/popper.js/dist/umd/popper.min.js}"></script>
<script th:src="@{/assets/vendor/bootstrap/bootstrap.min.js}"></script>

<!-- JS Implementing Plugins -->
<script th:src="@{/assets/vendor/appear.js}"></script>
<script th:src="@{/assets/vendor/jquery.countdown.min.js}"></script>
<script th:src="@{/assets/vendor/hs-megamenu/src/hs.megamenu.js}"></script>
<script th:src="@{/assets/vendor/svg-injector/dist/svg-injector.min.js}"></script>
<script th:src="@{/assets/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js}"></script>
<script th:src="@{/assets/vendor/jquery-validation/dist/jquery.validate.min.js}"></script>
<script th:src="@{/assets/vendor/fancybox/jquery.fancybox.min.js}"></script>
<script th:src="@{/assets/vendor/ion-rangeslider/js/ion.rangeSlider.min.js}"></script>
<script th:src="@{/assets/vendor/typed.js/lib/typed.min.js}"></script>
<script th:src="@{/assets/vendor/slick-carousel/slick/slick.js}"></script>
<script th:src="@{/assets/vendor/appear.js}"></script>
<script th:src="@{/assets/vendor/bootstrap-select/dist/js/bootstrap-select.min.js}"></script>


<!-- JS Electro -->
<script th:src="@{/assets/js/hs.core.js}"></script>
<script th:src="@{/assets/js/components/hs.countdown.js}"></script>
<script th:src="@{/assets/js/components/hs.header.js}"></script>
<script th:src="@{/assets/js/components/hs.hamburgers.js}"></script>
<script th:src="@{/assets/js/components/hs.unfold.js}"></script>
<script th:src="@{/assets/js/components/hs.focus-state.js}"></script>
<script th:src="@{/assets/js/components/hs.malihu-scrollbar.js}"></script>
<script th:src="@{/assets/js/components/hs.validation.js}"></script>
<script th:src="@{/assets/js/components/hs.fancybox.js}"></script>
<script th:src="@{/assets/js/components/hs.onscroll-animation.js}"></script>
<script th:src="@{/assets/js/components/hs.slick-carousel.js}"></script>
<script th:src="@{/assets/js/components/hs.quantity-counter.js}"></script>
<script th:src="@{/assets/js/components/hs.range-slider.js}"></script>
<script th:src="@{/assets/js/components/hs.show-animation.js}"></script>
<script th:src="@{/assets/js/components/hs.svg-injector.js}"></script>
<script th:src="@{/assets/js/components/hs.scroll-nav.js}"></script>
<script th:src="@{/assets/js/components/hs.go-to.js}"></script>
<script th:src="@{/assets/js/components/hs.selectpicker.js}"></script>


<script th:src="@{/assets/js/toast.js}"></script>
<script th:src="@{/assets/js/sweetalert.min.js}"></script>


<!-- JS Plugins Init. -->
<script>
    $(window).on('load', function () {
        // initialization of HSMegaMenu component
        $('.js-mega-menu').HSMegaMenu({
            event: 'hover',
            direction: 'horizontal',
            pageContainer: $('.container'),
            breakpoint: 767.98,
            hideTimeOut: 0
        });
    });

    $(document).on('ready', function () {
        // initialization of header
        $.HSCore.components.HSHeader.init($('#header'));

        // initialization of animation
        $.HSCore.components.HSOnScrollAnimation.init('[data-animation]');

        // initialization of unfold component
        $.HSCore.components.HSUnfold.init($('[data-unfold-target]'), {
            afterOpen: function () {
                $(this).find('input[type="search"]').focus();
            }
        });

        // initialization of HSScrollNav component
        $.HSCore.components.HSScrollNav.init($('.js-scroll-nav'), {
            duration: 700
        });

        // initialization of quantity counter
        $.HSCore.components.HSQantityCounter.init('.js-quantity');

        // initialization of popups
        $.HSCore.components.HSFancyBox.init('.js-fancybox');

        // initialization of countdowns
        var countdowns = $.HSCore.components.HSCountdown.init('.js-countdown', {
            yearsElSelector: '.js-cd-years',
            monthsElSelector: '.js-cd-months',
            daysElSelector: '.js-cd-days',
            hoursElSelector: '.js-cd-hours',
            minutesElSelector: '.js-cd-minutes',
            secondsElSelector: '.js-cd-seconds'
        });

        // initialization of malihu scrollbar
        $.HSCore.components.HSMalihuScrollBar.init($('.js-scrollbar'));

        // initialization of forms
        $.HSCore.components.HSFocusState.init();

        // initialization of form validation
        $.HSCore.components.HSValidation.init('.js-validate', {
            rules: {
                confirmPassword: {
                    equalTo: '#signupPassword'
                }
            }
        });

        // initialization of forms
        $.HSCore.components.HSRangeSlider.init('.js-range-slider');

        // initialization of show animations
        $.HSCore.components.HSShowAnimation.init('.js-animation-link');

        // initialization of fancybox
        $.HSCore.components.HSFancyBox.init('.js-fancybox');

        // initialization of slick carousel
        $.HSCore.components.HSSlickCarousel.init('.js-slick-carousel');

        // initialization of go to
        $.HSCore.components.HSGoTo.init('.js-go-to');

        // initialization of hamburgers
        $.HSCore.components.HSHamburgers.init('#hamburgerTrigger');

        // initialization of unfold component
        $.HSCore.components.HSUnfold.init($('[data-unfold-target]'), {
            beforeClose: function () {
                $('#hamburgerTrigger').removeClass('is-active');
            },
            afterClose: function () {
                $('#headerSidebarList .collapse.show').collapse('hide');
            }
        });

        $('#headerSidebarList [data-toggle="collapse"]').on('click', function (e) {
            e.preventDefault();

            var target = $(this).data('target');

            if ($(this).attr('aria-expanded') === "true") {
                $(target).collapse('hide');
            } else {
                $(target).collapse('show');
            }
        });

        // initialization of unfold component
        $.HSCore.components.HSUnfold.init($('[data-unfold-target]'));

        // initialization of select picker
        $.HSCore.components.HSSelectPicker.init('.js-select');
    });
</script>
</body>
</html>
