<!DOCTYPE html>
<!-- beautify ignore:start -->
<html
        class="light-style layout-menu-fixed"
        data-assets-path="../assets/"
        data-template="vertical-menu-template-free"
        data-theme="theme-default"
        dir="ltr"
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="fragments  :: page_head(${pageTitle}, 'none')">
</head>

<body>
<!--&lt;!&ndash; Layout wrapper &ndash;&gt;-->
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <!-- Menu -->

        <aside th:replace="fragments :: page_sidebar">
        </aside>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
            <!-- Navbar -->

            <nav th:replace="fragments :: page_navbar">
            </nav>

            <!-- / Navbar -->

            <!--             Content wrapper-->
            <div class="content-wrapper">
                <!-- Content -->

                <div class="container-xxl flex-grow-1 container-p-y">
                    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Shipping Rates/</span>
                        [[${pageTitle}]]
                    </h4>

                    <!-- Customer Adding Form -->
                    <div class="row">
                        <div class="col-xxl">
                            <div class="card mb-4">
                                <div class="card-header d-flex align-items-center justify-content-between">
                                    <h5 class="mb-0">Fill/Edit the Form</h5>
                                    <small class="text-muted float-end">Shipping Rate Details</small>
                                </div>
                                <div class="card-body">

                                    <form method="post"
                                          onsubmit="return checkEmailUnique(this);"
                                          th:action="@{/shipping_rates/save}"
                                          th:object="${rate}">
                                        <input th:field="*{id}" type="hidden">


                                        <div class="row mb-3">
                                            <label class="col-sm-2 form-label"
                                            >Destination Country</label>
                                            <div class="col-sm-10">
                                                <div class="input-group input-group-merge">
                                                    <select class="form-control" id="reg-country" required
                                                            th:field="*{country}">
                                                        <th:block th:each="country : ${listCountries}">
                                                            <option th:value="${country.id}">[[${country.name}]]</option>
                                                        </th:block>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                                <label class="col-sm-2 form-label" for="reg-state">State/Province</label>
                                            <div class="col-sm-10">
                                                <input class="form-control" id="reg-state" th:field="*{state}" minlength="3" maxlength="45" required list="listStates">
                                                <datalist id="listStates"></datalist>
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <label class="col-sm-2 col-form-label">Shipping Rate (per DIM weight)</label>
                                            <div class="col-sm-10">
                                                    <input class="form-control"
                                                           required
                                                           step="0.1"
                                                           min="0"
                                                           th:field="*{rate}"
                                                           type="number"/>
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <label class="col-sm-2 col-form-label">Days to Deliver</label>
                                            <div class="col-sm-10">
                                                <input class="form-control"
                                                       required
                                                       step="1"
                                                       min="0"
                                                       th:field="*{days}"
                                                       type="number"/>
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <label class="col-sm-2 col-form-label" >COD?</label>
                                            <div class="col-sm-10">
                                                <div class="col-md">
                                                    <small class="text-light fw-semibold">Is this is COD supported?</small>
                                                    <div class="form-check mt-3">
                                                        <input th:field="*{codSupported}"
                                                               class="form-check-input" type="checkbox" value="" />
                                                        <label class="form-check-label">Cash on Delivery</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="row justify-content-end">
                                            <div class="col-sm-10">
                                                <button class="btn btn-primary" type="submit">Save</button>
                                            </div>
                                        </div>
                                    </form>

                                    <div th:replace="modal :: modal"></div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <footer th:replace="fragments :: page_footer">
            </footer>

            <div class="content-backdrop fade"></div>
        </div>
    </div>
</div>

<div class="layout-overlay layout-menu-toggle"></div>
</div>

<script type="text/javascript">
    contextPath = "[[@{/}]]";
    moduleURL = "[[@{/shipping_rates}]]";
</script>

<script th:src="@{/js/common_form.js}" type="text/javascript"></script>
<script th:src="@{/js/common_form_country.js}" type="text/javascript"></script>


<!-- Core JS-->
<!-- build:js assets/vendor/js/core.js-->
<script th:src="@{/assets/vendor/libs/jquery/jquery.js}"></script>
<script th:src="@{/assets/vendor/libs/popper/popper.js}"></script>
<script th:src="@{/assets/vendor/js/bootstrap.js}"></script>
<script th:src="@{/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js}"></script>

<script th:src="@{/assets/vendor/js/menu.js}"></script>
<!-- endbuild -->

<!-- Vendors JS -->
<script th:src="@{/assets/vendor/libs/apex-charts/apexcharts.js}"></script>

<!-- Main JS -->
<script th:src="@{/assets/js/main.js}"></script>

<!-- Page JS -->
<script th:src="@{/assets/js/dashboards-analytics.js}"></script>


</body>
</html>
