<!DOCTYPE html>
<html class="no-js" lang="zxx">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>[[${pageTitle}]] | CommerceFox</title>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="shortcut icon" type="image/x-icon" th:href="@{/assets/images/favicon.svg}" />

  <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}" />
  <link rel="stylesheet" th:href="@{/assets/css/LineIcons.3.0.css}" />
  <link rel="stylesheet" th:href="@{/assets/css/main.css}" />
</head>
<body>
<!--[if lte IE 9]>
<p class="browserupgrade">
  You are using an <strong>outdated</strong> browser. Please
  <a href="https://browsehappy.com/">upgrade your browser</a> to improve
  your experience and security.
</p>
<![endif]-->

<div class="preloader">
  <div class="preloader-inner">
    <div class="preloader-icon">
      <span></span>
      <span></span>
    </div>
  </div>
</div>


<div class="maill-success">
  <div class="d-table">
    <div class="d-table-cell">
      <div class="container">
        <div class="success-content">
          <i class="lni lni-cross-circle"></i>
          <h2>[[${message}]]</h2>
          <p>Your password reset was expired or something went wrong.</p>
          <div class="button">
            <a th:href="@{/forgot_password}" class="btn">Resend</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script th:src="@{/assets/js/bootstrap.min.js}"></script>
<script>
  window.onload = function () {
    window.setTimeout(fadeout, 500);
  }

  function fadeout() {
    document.querySelector('.preloader').style.opacity = '0';
    document.querySelector('.preloader').style.display = 'none';
  }
</script>
</body>
</html>