<!DOCTYPE html>
<html class="no-js" lang="zxx"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="fragments.html :: page_head('Reset Password')">
</head>
<body>

<div th:replace="fragments.html :: header"></div>



<div class="breadcrumbs">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="breadcrumbs-content">
                    <h1 class="page-title">Reset Password</h1>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <ul class="breadcrumb-nav">
                    <li><a th:href="@{/}"><i class="lni lni-home"></i> Home</a></li>
                    <li>Registration</li>
                </ul>
            </div>
        </div>
    </div>
</div>


<div class="account-login section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-md-10 offset-md-1 col-12">
                <div class="register-form">
                    <div class="title">
                        <h3>Reset your Password</h3>
                    </div>
                    <form class="row" method="post" th:action="@{/reset_password}" onsubmit="return checkEmailUnique(this)" >
                        <input type="hidden" th:value="${token}" name="token">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="reg-pass">Password</label>
                                <input class="form-control" id="reg-pass" oninput="checkPasswordMatch(document.getElementById('reg-pass-confirm'))"
                                        placeholder="Enter your new Password"
                                       minlength="8" maxlength="15" autofocus name="password" required type="password">
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="reg-pass-confirm">Confirm Password</label>
                                <input class="form-control" oninput="checkPasswordMatch(this)" placeholder="Re-enter the password"
                                       id="reg-pass-confirm" minlength="8" maxlength="15" required type="password">
                            </div>
                        </div>


                        <div class="button">
                            <button class="btn" type="submit">Update Password</button>
                        </div>
                        <p class="outer-link">Remember password? <a th:href="@{/login}">Login Now</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/modal :: modal"></div>


<footer th:replace="fragments.html :: footer"></footer>


<a class="scroll-top" href="register.html#">
    <i class="lni lni-chevron-up"></i>
</a>

<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
<script th:src="@{assets/js/bootstrap.min.js}"></script>
<script th:src="@{assets/js/tiny-slider.js}"></script>
<script th:src="@{assets/js/glightbox.min.js}"></script>
<script th:src="@{assets/js/main.js}"></script>
<script th:src="@{/assets/js/jquery/jquery.js}"></script>
<script th:src="@{/assets/js/common_form.js}"></script>
<script th:src="@{/assets/js/common_customer-form.js}"></script>



<script type="text/javascript">
    contextPath = "[[@{/}]]";
</script>
</body>
</html>