<!DOCTYPE html>
<html
        lang="en"
        class="light-style layout-menu-fixed"
        dir="ltr"
        data-theme="theme-default"
        data-assets-path="../assets/"
        data-template="vertical-menu-template-free"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
<head th:replace="fragments  :: page_head('Error | Admin','none')">
</head>

  <body>
    <!-- Content -->

    <!-- Error -->
    <div class="container-xxl container-p-y">
      <div class="misc-wrapper">
        <h2 class="mb-2 mx-2">Server Encountered :(</h2>
        <p class="mb-4 mx-2">Sorry! 😖 the server has encountered an error while processing your request.</p>
        <a th:href="@{/}" class="btn btn-primary">Back to home</a>
        <div class="mt-3">
          <img
            th:src="@{/assets/img/illustrations/page-misc-error-light.png}"
            alt="page-misc-error-light"
            width="500"
            class="img-fluid"
            data-app-dark-img="illustrations/page-misc-error-dark.png"
            data-app-light-img="illustrations/page-misc-error-light.png"
          />
        </div>
      </div>
    </div>
    <!-- /Error -->

    <!-- / Content -->



    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script th:src="@{/assets/vendor/libs/jquery/jquery.js}"></script>
    <script th:src="@{/assets/vendor/libs/popper/popper.js}"></script>
    <script th:src="@{/assets/vendor/js/bootstrap.js}"></script>
    <script th:src="@{/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js}"></script>

    <script th:src="@{/assets/vendor/js/menu.js}"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->
    <script th:src="@{/assets/vendor/libs/apex-charts/apexcharts.js}"></script>

    <!-- Main JS -->
    <script th:src="@{/assets/js/main.js}"></script>

    <!-- Page JS -->
    <script th:src="@{/assets/js/dashboards-analytics.js}"></script>
  </body>
</html>
