<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<a th:fragment="page_link(moduleURL, pageNum, label)"
   th:href="@{${moduleURL} +'/page/' + ${pageNum} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''} }"
   th:class="${currentPage != i ? 'page-link' : 'page-link current' }"
>
  [[${label}]]
</a>

</body>
</html>