<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
      <head th:fragment="page_head(title, remove)" th:remove="${remove}">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0">
  <title>[[${title}]]</title>
  <link rel="stylesheet" th:href="@{/assets/css/style-starter.css}">
  <link rel="stylesheet" th:href="@{/assets/css/style.css}">
  <link rel="stylesheet" th:href="@{/fontawesome/all.css}">
  <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800,900&display=swap" rel="stylesheet">
  <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
  <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}" ></script>
  <script type="text/javascript" th:src="@{/assets/js/common.js}" ></script>
</head>
<body class="sidebar-menu-collapsed">
    <!-- <div class="se-pre-con"></div> -->

  <section th:fragment="menu">
    <!-- sidebar menu start -->
    <div class="sidebar-menu sticky-sidebar-menu">
  
      <!-- logo start -->
      <div class="logo">
        <h1><a th:href="@{/}">Shopme</a></h1>
      </div>
  
    <!-- if logo is image enable this -->
      <!-- image logo --
      <div class="logo">
        <a href="index.html">
          <img src="image-path" alt="Your logo" title="Your logo" class="img-fluid" style="height:35px;" />
        </a>
      </div>
       image logo -->
  
      <div class="text-center">
        <a th:href="@{/}" title="logo"><img th:src="@{/assets/images/ShopmeAdminSmall.png}" alt="logo-icon"> </a> <br>
      </div>
      <!-- //logo end -->
  
      <div class="sidebar-menu-inner">
        <!-- <nav class="navbar navbar-expand-lg bg-body-tertiary"> -->
        <!-- sidebar nav start -->
        <ul class="nav nav-pills nav-stacked custom-nav">
          <li class="active"><a th:href="@{/}"><i class="fa fa-tachometer"></i><span> Dashboard</span></a>
          </li>
          <!-- <li class="menu-list">
            <a href="#"><i class="fa fa-cogs"></i>
              <span>Elements <i class="lnr lnr-chevron-right"></i></span></a>
            <ul class="sub-menu-list">
              <li><a href="carousels.html">Carousels</a> </li>
              <li><a href="cards.html">Default cards</a> </li>
              <li><a href="people.html">People cards</a></li>
            </ul>  
          </li>-->
          <!-- 
            
            <a th:href="@{/shipping}"></a>
            <a th:href="@{/orders}"> </a>
            <a th:href="@{/menus}"></a>
            <a th:href="@{/settings}"> </a>-->
  
            <li sec:authorize="hasAuthority('Admin')"><a th:href="@{/users}"><i class="fa fa-user-circle-o" aria-hidden="true"></i> <span>Users</span></a></li>
          <th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
              <li sec:authorize="hasAnyAuthority('Admin', 'Editor')"><a th:href="@{/categories}"><i class="fi fi-rr-apps"></i><span>Categories</span></a></li>
              <li sec:authorize="hasAnyAuthority('Admin', 'Editor')"><a th:href="@{/brands}"><i class="fi fi-rr-star "></i><span>Brands</span></a></li>
          </th:block>
          <th:block sec:authorize="hasAnyAuthority('Admin', 'Salesperson', 'Editor', 'Shipper')">
            <li><a th:href="@{/products}"><i class="fi fi-rr-shopping-cart-add"></i> <span>Products</span></a></li>
          </th:block>
          <th:block sec:authorize="hasAnyAuthority('Admin', 'Salesperson')">
            <li sec:authorize="hasAuthority('Admin')"><a th:href="@{/customers}"><i class="fa fa-user"></i> <span>Customers</span></a></li>
          </th:block>
            <li><a href="#"><i class="fi fi-rr-truck-side"></i><span>Shipping</span></a></li>
          <th:block sec:authorize="hasAnyAuthority('Admin', 'Salesperson', 'Shipper')">
            <li sec:authorize="hasAuthority('Admin')"><a href="#"><i class="fa fa-server" aria-hidden="true"></i><span>Orders</span></a></li>
          </th:block>
          <!-- 
          <th:block sec:authorize="hasAnyAuthority('Admin', 'Salesperson')">
            <li sec:authorize="hasAuthority('Admin')"><a href="#"><a href="forms.html"><i class="fi fa-report"></i><span>Sales Report</span></a></li>
          </th:block>
          <th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
            <li sec:authorize="hasAuthority('Admin','Editor')"><a href="#"><a href="forms.html"><i class="fa fa-newspaper"></i><span>Articles</span></li</a>> 
          </th:block>    -->
          <li sec:authorize="hasAnyAuthority('Admin', 'Editor')"><a href="#"><i class="fa fa-file-text"></i><span>Menus</span></a></li>
          <li sec:authorize="hasAuthority('Admin')"><a th:href="@{/settings}"><i class="fa fa-cog fa-spin fa-3x fa-fw"></i><span>Settings</span></a></li>
          <li><a th:href="@{/logout}"><i class="fa-solid fa-right-from-bracket"></i><span>Logout</span></a></li>
  
        </ul>
        <!-- //sidebar nav end -->
        <!-- toggle button start -->
        <a class="toggle-btn">
          <i class="fa fa-angle-double-left menu-collapsed__left"><span>Collapse Sidebar</span></i>
          <i class="fa fa-angle-double-right menu-collapsed__right"></i>
        </a>
        <!-- //toggle button end -->
      </div>
    </div>
    <!-- //sidebar menu end -->
  </section>

  
  <div class="main-content">
    <!-- content -->
    <div class="container ">
      
    
      <!-- EDIT -->
      <div th:fragment="edit(entityName, editURL)" th:remove="tag">
        <a class="fas fa-edit icon-aqua" th:href="@{${editURL}}"
          th:title="'Edit this ' + ${entityName}"></a>
      </div>
      <!-- DELETE -->
      <div th:fragment="delete(entityName, entityId, deleteURL, visible)" th:remove="tag">
        <th:block th:if="${visible}">		
        <a class="fas fa-trash  icon-danger link-delete" 
          th:href="@{${deleteURL}}"
          th:entityId="${entityId}"
          th:title="'Delete this ' + ${entityName}"></a>
        </th:block>	
      </div>
 
    <!-- STATUS -->
    <div th:fragment="status(enabled, entityName, entityURL)" th:remove="tag">
      <a th:if="${enabled == true}" class="fas fa-check-circle icon-green" 
        th:href="@{${entityURL} + '/enabled/false'}"
        th:title="'Disable this ' + ${entityName}"
        ></a>
        
      <a th:if="${enabled == false}" class="fas fa-circle icon-grey" 
        th:href="@{${entityURL} + '/enabled/true'}"
        th:title="'Enable this ' + ${entityName}"
        ></a>	
    </div>

    <!-- column_link -->
    <th th:fragment="column_link(moduleURL, fieldName, columnLabel, removeTag)" th:remove="${removeTag}">
      <a class="text-white"
        th:href="@{${moduleURL} + '/page/' + ${currentPage} + '?sortField=' + ${fieldName}  +'&sortDir=' + ${sortField != fieldName ? sortDir : reverseSortDir} + ${keyword != null ? '&keyword=' + keyword : ''} + ${categoryId != null ? '&categoryId=' + categoryId : ''}}">
        [[${columnLabel}]]
      </a>								
      <span th:if="${sortField == fieldName}"
        th:class="${sortDir == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}" ></span>					
    </th>

    <!-- User Photos -->
    <div th:fragment="user_photos" th:remove="tag">
      <span th:if="${user.photos == null}" class="fas fa-portrait fa-3x icon-silver"></span>
      <img th:if="${user.photos != null}" th:src="@{${user.photosImagePath}}"
        style="width: 100px" />	
    </div>
   
    <a th:fragment="page_link(moduleURL, pageNum, label)"
		class="page-link" 
		th:href="@{${moduleURL} + '/page/' + ${pageNum} + '?sortField=' + ${sortField} + '&sortDir=' 
    + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''} + ${categoryId != null ? '&categoryId=' 
    + categoryId : ''}}">[[${label}]]</a>

    <!-- Pagination -->
    <div th:fragment="pagination(moduleURL, entityName)" th:remove="tag">
      <div class="text-center m-1" th:if="${totalItems > 0}">
        <span>Showing [[${entityName}]] # [[${startCount}]] to [[${endCount}]] of [[${totalItems}]]</span>
      </div>
      <div class="text-center m-1" th:unless="${totalItems > 0}">
        <span>No [[${entityName}]] found</span>
      </div>
      
      <div th:if="${totalPages > 1}">
        <nav>
          <ul class="pagination justify-content-center flex-wrap">
            <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
              <a th:replace="fragments :: page_link(${moduleURL}, 1, 'First')"></a>
            </li>		  
            <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
              <a th:replace="fragments :: page_link(${moduleURL}, ${currentPage - 1}, 'Previous')"></a>
            </li>
            
            <li th:class="${currentPage != i ? 'page-item': 'page-item active'}" 
              th:each="i : ${#numbers.sequence(1, totalPages)}">
              <a th:replace="fragments :: page_link(${moduleURL}, ${i}, ${i})"></a>
            </li>
            
            <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
              <a th:replace="fragments :: page_link(${moduleURL}, ${currentPage + 1}, 'Next')"></a>
            </li>
            
            <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
              <a th:replace="fragments :: page_link(${moduleURL}, ${totalPages}, 'Last')"></a>
            </li>		    
          </ul>
        </nav>	
      </div>		
      </div>


      <!-- Search -->
      <div th:fragment="search_form_and_message(moduleURL)">
        <form th:action="@{${moduleURL}}" class="form-inline m-3">
          <input type="hidden" name="sortField" th:value="${sortField}" />
          <input type="hidden" name="sortDir" th:value="${sortDir}" />
          
          Filter:&nbsp;
          <input type="search" name="keyword" th:value="${keyword}" class="form-control" required/>
          &nbsp;&nbsp;
          <button type="submit" class="btn btn-primary">
            <i class="fas fa-search"></i>
          </button>
          &nbsp;&nbsp;
          <button type="button" class="btn btn-secondary" onclick="clearFilter()">
            <i class="fas fa-eraser"></i>
          </button>
        </form>
        
        <div th:if="${message != null}" class="alert alert-success text-center">
          [[${message}]]
        </div>		
      </div>	

                                         
     
    
    </div>
  </div>


    <!--footer section start-->
  <footer class="dashboard" th:fragment="footer">
    <p>&copy 2023 Shopme. All Rights Reserved | Design by <a href="https://mrunwonted.github.io/myPortfolio/" target="_blank"
        class="text-primary">Arjun</a></p>
  </footer>
  <!--footer section end-->
 



</body>

</html>