<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head(${pageTitle}, 'none')" />
<style>
* {box-sizing: border-box;}

.img-zoom-container {
  position: relative;
}

.img-zoom-lens {
  position: absolute;
  border: 1px solid #d4d4d4;
  /*set the size of the lens:*/
  width: 80px;
  height: 80px;
}

.img-zoom-result {
  border: 1px solid #d4d4d4;
  /*set the size of the result div:*/
  width: 300px;
  height: 300px;
}
</style>
<body>
<div class="container-fluid">
	<div th:replace="navigation :: header_menu"></div>
	
	<div th:replace="breadcrumb :: content"></div>

	<div class="row">
		<div class="col-sm">
			<div>
				<img id="bigImage" th:src="@{${product.mainImagePath}}" >
			</div>	
			<div class="row justify-content-center">
				<div class="m-2 img-zoom-container">
					<img class="image-thumbnail" th:src="@{${product.mainImagePath}}" height="50">
				</div>
				
				<th:block th:each="extraImage : ${product.images}" >
					<div class="m-2">
						<img class="image-thumbnail" th:src="@{${extraImage.imagePath}}" height="50">
					</div>
				</th:block>
			</div>	
		</div>
		<div id="myresult" class="img-zoom-result"></div>
		<div class="col-sm">
			<div>
				<h2>[[${product.name}]]</h2>
			</div>
			<div>
				<span>Brand: [[${product.brand.name}]]</span>
			</div>
			<div>
				List Price:
				<span th:if="${product.discountPercent <= 0}">$ [[${product.price}]]</span>
				<del th:if="${product.discountPercent > 0}"><span>$ [[${product.price}]]</span></del>
			</div>
			<div th:if="${product.discountPercent > 0}">
				Price:
				<span style="font-size: larger; color: darkred">$ [[${product.discountPrice}]]</span>
				([[${product.discountPercent}]] % off)
			</div>
			<div>&nbsp;</div>
			<div th:utext="${product.shortDescription}"></div>			
		</div>
		<div class="col-sm-2">
			<div>
				<span th:if="${product.inStock}" class="text-success"><b>In Stock</b></span>
				<span th:unless="${product.inStock}" class="text-danger"><b>Out of Stock</b></span>
			</div>
			<div class="mt-2">
				<input type="text" size="5" value="1" />
			</div>
			<div class="mt-3">
				<input type="button" value="Add to Cart" class="btn btn-primary" />
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-12">
			<div><hr/></div>
			<div>
				<h3>Product Description:</h3>
			</div>
			<div th:utext="${product.fullDescription}"></div>
		</div>
	</div>

	<div class="row">
		<div class="col-12">
			<div><hr/></div>
			<div>
				<h3>Product Details:</h3>
			</div>
			<th:block th:each="detail : ${product.details}">
			<div>
				<b>[[${detail.name}]]</b>:
				<span>[[${detail.value}]]</span>
			</div>
			</th:block>
		</div>
	</div>
		
	<div th:replace="navigation :: footer_menu"></div>
</div>	
<script>
	$(document).ready(function(){
		bigImage = $("#bigImage");

		$(".image-thumbnail").mouseover(function(){
			currentImageSource = $(this).attr("src");
			bigImage.attr("src",currentImageSource);
		});
	});
</script>
<script>
	function imageZoom(imgID, resultID) {
  var img, lens, result, cx, cy;
  img = document.getElementById(imgID);
  result = document.getElementById(resultID);
  /* Create lens: */
  lens = document.createElement("DIV");
  lens.setAttribute("class", "img-zoom-lens");
  /* Insert lens: */
  img.parentElement.insertBefore(lens, img);
  /* Calculate the ratio between result DIV and lens: */
  cx = result.offsetWidth / lens.offsetWidth;
  cy = result.offsetHeight / lens.offsetHeight;
  /* Set background properties for the result DIV */
  result.style.backgroundImage = "url('" + img.src + "')";
  result.style.backgroundSize = (img.width * cx) + "px " + (img.height * cy) + "px";
  /* Execute a function when someone moves the cursor over the image, or the lens: */
  lens.addEventListener("mousemove", moveLens);
  img.addEventListener("mousemove", moveLens);
  /* And also for touch screens: */
  lens.addEventListener("touchmove", moveLens);
  img.addEventListener("touchmove", moveLens);
  function moveLens(e) {
    var pos, x, y;
    /* Prevent any other actions that may occur when moving over the image */
    e.preventDefault();
    /* Get the cursor's x and y positions: */
    pos = getCursorPos(e);
    /* Calculate the position of the lens: */
    x = pos.x - (lens.offsetWidth / 2);
    y = pos.y - (lens.offsetHeight / 2);
    /* Prevent the lens from being positioned outside the image: */
    if (x > img.width - lens.offsetWidth) {x = img.width - lens.offsetWidth;}
    if (x < 0) {x = 0;}
    if (y > img.height - lens.offsetHeight) {y = img.height - lens.offsetHeight;}
    if (y < 0) {y = 0;}
    /* Set the position of the lens: */
    lens.style.left = x + "px";
    lens.style.top = y + "px";
    /* Display what the lens "sees": */
    result.style.backgroundPosition = "-" + (x * cx) + "px -" + (y * cy) + "px";
  }
  function getCursorPos(e) {
    var a, x = 0, y = 0;
    e = e || window.event;
    /* Get the x and y positions of the image: */
    a = img.getBoundingClientRect();
    /* Calculate the cursor's x and y coordinates, relative to the image: */
    x = e.pageX - a.left;
    y = e.pageY - a.top;
    /* Consider any page scrolling: */
    x = x - window.pageXOffset;
    y = y - window.pageYOffset;
    return {x : x, y : y};
  }
}

</script>
<script  type="text/javascript">
	imageZoom("bigImage", "myresult");
</script>
</body>
</html>