<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:fragment="content" th:remove="tag">

  <th:block th:with="banner = ${fullWidthBanner}">
  <!-- Full banner -->
  <div class="mb-6">
    <a th:href="@{${banner.link}}" class="d-block text-gray-90">
      <div class="" th:style="|background-image:url(${banner.bannerPath});|">
        <div class="space-top-2-md p-4 pt-6 pt-md-8 pt-lg-6 pt-xl-8 pb-lg-4 px-xl-8 px-lg-6">
          <div class="flex-horizontal-center mt-lg-3 mt-xl-0 overflow-auto overflow-md-visble" th:utext="${banner.title}">
            <div class="ml-5 flex-content-center flex-shrink-0">
              <div class="bg-primary rounded-lg px-6 py-2">
                <em class="font-size-14 font-weight-light">STARTING AT</em>
                <div class="font-size-30 font-weight-bold text-lh-1">
                  <div th:replace="fragments/common/currency_time :: format_currency(${banner.price})"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>

  </th:block>
  <!-- End Full banner -->

</div>

</body>
</html>