<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:fragment="content" th:remove="tag">

  <!-- ========== HEADER ========== -->
  <header id="header" class="u-header u-header-left-aligned-nav">
    <div class="u-header__section">
      <!-- Topbar -->
      <div class="u-header-topbar py-2 d-none d-xl-block">
        <div class="container">
          <div class="d-flex align-items-center">
            <div class="topbar-left">
              <a href="index.html#" class="text-gray-110 font-size-13 hover-on-dark">Welcome to Worldwide Electronics Store</a>
            </div>
            <div class="topbar-right ml-auto">
              <ul class="list-inline mb-0">
                <li class="list-inline-item mr-0 u-header-topbar__nav-item u-header-topbar__nav-item-border">
                  <a href="contact-v2.html" class="u-header-topbar__nav-link"><i class="ec ec-map-pointer mr-1"></i> Store Locator</a>
                </li>
                <li class="list-inline-item mr-0 u-header-topbar__nav-item u-header-topbar__nav-item-border">
                  <a href="https://transvelo.github.io/electro-html/2.0/html/shop/track-your-order.html" class="u-header-topbar__nav-link"><i class="ec ec-transport mr-1"></i> Track Your Order</a>
                </li>
                <li class="list-inline-item mr-0 u-header-topbar__nav-item u-header-topbar__nav-item-border u-header-topbar__nav-item-no-border u-header-topbar__nav-item-border-single">
                  <div class="d-flex align-items-center">
                    <!-- Language -->
                    <div class="position-relative">
                      <a id="languageDropdownInvoker" class="dropdown-nav-link dropdown-toggle d-flex align-items-center u-header-topbar__nav-link font-weight-normal" href="javascript:;" role="button"
                         aria-controls="languageDropdown"
                         aria-haspopup="true"
                         aria-expanded="false"
                         data-unfold-event="hover"
                         data-unfold-target="#languageDropdown"
                         data-unfold-type="css-animation"
                         data-unfold-duration="300"
                         data-unfold-delay="300"
                         data-unfold-hide-on-scroll="true"
                         data-unfold-animation-in="slideInUp"
                         data-unfold-animation-out="fadeOut">
                        <span class="d-none d-sm-inline-flex align-items-center"><span class="mr-1">[[${CURRENCY_SYMBOL}]]</span> CURRENCY</span>
                      </a>

                      <div id="languageDropdown" class="dropdown-menu dropdown-unfold" aria-labelledby="languageDropdownInvoker">
                        <a class="dropdown-item active" th:href="@{/}">English</a>
                      </div>
                    </div>
                    <!-- End Language -->
                  </div>
                </li>

                <th:block sec:authorize="!isAuthenticated()">

                  <li class="list-inline-item mr-0 u-header-topbar__nav-item u-header-topbar__nav-item-border">
                    <!-- Account Sidebar Toggle Button -->
                    <a id="sidebarNavToggler" href="" role="button" class="u-header-topbar__nav-link"
                       aria-controls="sidebarContent"
                       aria-haspopup="true"
                       aria-expanded="false"
                       data-unfold-event="click"
                       data-unfold-hide-on-scroll="false"
                       data-unfold-target="#sidebarContent"
                       data-unfold-type="css-animation"
                       data-unfold-animation-in="fadeInRight"
                       data-unfold-animation-out="fadeOutRight"
                       data-unfold-duration="500">
                      <i class="ec ec-user mr-1"></i> Register <span class="text-gray-50">or</span> Sign in
                    </a>
                    <!-- End Account Sidebar Toggle Button -->
                  </li>

                </th:block>

                <th:block sec:authorize="isAuthenticated()">

                  <form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
                    <input type="submit"/>
                  </form>

                  <li class="list-inline-item mr-0 u-header-topbar__nav-item u-header-topbar__nav-item-border">
                    <i class="ec ec-user mr-1"></i> <a class="u-header-topbar__nav-link"
                                                       th:href="@{/account_details}"
                                                       sec:authentication="principal.fullName"
                  ></a> <span class="text-gray-50"> | </span><a class="u-header-topbar__nav-link" href="javascript: document.logoutForm.submit()">Logout</a>
                  </li>

                </th:block>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- End Topbar -->

      <!-- Logo-Search-header-icons -->
      <div class="py-2 py-xl-5 bg-primary-down-lg">
        <div class="container my-0dot5 my-xl-0">
          <div class="row align-items-center">
            <!-- Logo-offcanvas-menu -->
            <div class="col-auto">
              <!-- Nav -->
              <nav class="navbar navbar-expand u-header__navbar py-0 justify-content-xl-between max-width-270 min-width-270">
                <!-- Logo -->
                <a class="order-1 order-xl-0 navbar-brand u-header__navbar-brand u-header__navbar-brand-center" th:href="@{/}" aria-label="CommerceFox">
                  <img th:src="@{${S3_BASE_URI + SITE_LOGO}}" class="img-fluid">
                </a>
                <!-- End Logo -->

                <!-- Fullscreen Toggle Button -->
                <button id="sidebarHeaderInvokerMenu" type="button" class="navbar-toggler d-block btn u-hamburger mr-3 mr-xl-0"
                        aria-controls="sidebarHeader"
                        aria-haspopup="true"
                        aria-expanded="false"
                        data-unfold-event="click"
                        data-unfold-hide-on-scroll="false"
                        data-unfold-target="#sidebarHeader1"
                        data-unfold-type="css-animation"
                        data-unfold-animation-in="fadeInLeft"
                        data-unfold-animation-out="fadeOutLeft"
                        data-unfold-duration="500">
                                        <span id="hamburgerTriggerMenu" class="u-hamburger__box">
                                            <span class="u-hamburger__inner"></span>
                                        </span>
                </button>
                <!-- End Fullscreen Toggle Button -->
              </nav>
              <!-- End Nav -->

              <!-- ========== HEADER SIDEBAR ========== -->
              <aside id="sidebarHeader1" class="u-sidebar u-sidebar--left" aria-labelledby="sidebarHeaderInvoker">
                <div class="u-sidebar__scroller">
                  <div class="u-sidebar__container">
                    <div class="u-header-sidebar__footer-offset">
                      <!-- Toggle Button -->
                      <div class="position-absolute top-0 right-0 z-index-2 pt-4 pr-4 bg-white">
                        <button type="button" class="close ml-auto"
                                aria-controls="sidebarHeader"
                                aria-haspopup="true"
                                aria-expanded="false"
                                data-unfold-event="click"
                                data-unfold-hide-on-scroll="false"
                                data-unfold-target="#sidebarHeader1"
                                data-unfold-type="css-animation"
                                data-unfold-animation-in="fadeInLeft"
                                data-unfold-animation-out="fadeOutLeft"
                                data-unfold-duration="500">
                          <span aria-hidden="true"><i class="ec ec-close-remove text-gray-90 font-size-20"></i></span>
                        </button>
                      </div>
                      <!-- End Toggle Button -->

                      <!-- Content -->
                      <div class="js-scrollbar u-sidebar__body">
                        <div id="headerSidebarContent" class="u-sidebar__content u-header-sidebar__content">
                          <!-- Logo -->
                          <a class="order-1 order-xl-0 navbar-brand u-header__navbar-brand u-header__navbar-brand-center" th:href="@{/}" aria-label="CommerceFox">
                            <img th:src="@{${S3_BASE_URI + SITE_LOGO}}" class="img-fluid">
                          </a>
                          <!-- End Logo -->

                          <!-- List -->
                          <ul id="headerSidebarList" class="u-header-collapse__nav">
                            <!-- Value of the Day -->
                            <li class="">
                              <a class="u-header-collapse__nav-link font-weight-bold" th:href="@{/p/value_of_day}">Value of the Day</a>
                            </li>
                            <!-- End Value of the Day -->

                            <!-- Top 100 Offers -->
                            <li class="">
                              <a class="u-header-collapse__nav-link font-weight-bold" th:href="@{/c/top_10_offers}">Top 10 Offers</a>
                            </li>
                            <!-- End Top 100 Offers -->

                            <!-- New Arrivals -->
                            <li class="">
                              <a class="u-header-collapse__nav-link font-weight-bold" th:href="@{/c/new_arrivals}">New Arrivals</a>
                            </li>


                            <th:block th:each="cat : ${listNoParentCategories}">
                            <!-- Computers & Accessories -->
                            <li class="u-has-submenu u-header-collapse__submenu">
                              <a class="u-header-collapse__nav-link u-header-collapse__nav-pointer" href="javascript:;" data-target="#headerSidebarComputersCollapse" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="headerSidebarComputersCollapse">
                                [[${cat.name}]]
                              </a>


                              <div id="headerSidebarComputersCollapse" class="collapse" data-parent="#headerSidebarContent">
                                <ul class="u-header-collapse__nav-list">
                                  <li><span class="u-header-sidebar__sub-menu-title">[[${cat.name}]]</span></li>
                                  <th:block th:each="subCat : ${cat.getChildren()}">
                                  <li class=""><a class="u-header-collapse__submenu-nav-link" th:href="@{'/c/' + ${subCat.alias}}">[[${subCat.name}]]</a></li>
                                  </th:block>
                                </ul>
                              </div>
                            </li>

                            </th:block>
                          </ul>
                          <!-- End List -->
                        </div>
                      </div>
                      <!-- End Content -->
                    </div>
                    <!-- Footer -->
                    <footer id="SVGwaveWithDots" class="svg-preloader u-header-sidebar__footer">
                      <ul class="list-inline mb-0">
                        <li class="list-inline-item pr-3">
                          <a class="u-header-sidebar__footer-link text-gray-90" href="index.html#">Privacy</a>
                        </li>
                        <li class="list-inline-item pr-3">
                          <a class="u-header-sidebar__footer-link text-gray-90" href="index.html#">Terms</a>
                        </li>
                        <li class="list-inline-item">
                          <a class="u-header-sidebar__footer-link text-gray-90" href="index.html#">
                            <i class="fas fa-info-circle"></i>
                          </a>
                        </li>
                      </ul>

                      <!-- SVG Background Shape -->
                      <div class="position-absolute right-0 bottom-0 left-0 z-index-n1">
                        <img class="js-svg-injector" src="../../assets/svg/components/wave-bottom-with-dots.svg" alt="Image Description"
                             data-parent="#SVGwaveWithDots">
                      </div>
                      <!-- End SVG Background Shape -->
                    </footer>
                    <!-- End Footer -->
                  </div>
                </div>
              </aside>
              <!-- ========== END HEADER SIDEBAR ========== -->
            </div>
            <!-- End Logo-offcanvas-menu -->
            <!-- Search Bar -->
            <div class="col d-none d-xl-block">
              <form class="js-focus-state" method="get" th:action="@{/search}">
                <label class="sr-only" for="searchproduct">Search</label>
                <div class="input-group">
                  <input type="search" class="form-control py-2 pl-5 font-size-15 border-right-0 height-40 border-width-2 rounded-left-pill border-primary" name="keyword" id="searchproduct-item" placeholder="Search for Products" aria-label="Search for Products" aria-describedby="searchProduct1" required>
                  <div class="input-group-append">
                    <!-- Select -->
                    <select class="js-select selectpicker dropdown-select custom-search-categories-select"
                            data-style="btn height-40 text-gray-60 font-weight-normal border-top border-bottom border-left-0 rounded-0 border-primary border-width-2 pl-0 pr-5 py-2">
                      <option value="one" selected>All Categories</option>

                    </select>
                    <!-- End Select -->
                    <button class="btn btn-primary height-40 py-2 px-3 rounded-right-pill" type="submit" id="searchProduct1">
                      <span class="ec ec-search font-size-24"></span>
                    </button>
                  </div>
                </div>
              </form>
            </div>
            <!-- End Search Bar -->
            <!-- Header Icons -->
            <div class="col col-xl-auto text-right text-xl-left pl-0 pl-xl-3 position-static">
              <div class="d-inline-flex">
                <ul class="d-flex list-unstyled mb-0 align-items-center">
                  <!-- Search -->
                  <li class="col d-xl-none px-2 px-sm-3 position-static">
                    <a id="searchClassicInvoker" class="font-size-22 text-gray-90 text-lh-1 btn-text-secondary" href="javascript:;" role="button"
                       data-toggle="tooltip"
                       data-placement="top"
                       title="Search"
                       aria-controls="searchClassic"
                       aria-haspopup="true"
                       aria-expanded="false"
                       data-unfold-target="#searchClassic"
                       data-unfold-type="css-animation"
                       data-unfold-duration="300"
                       data-unfold-delay="300"
                       data-unfold-hide-on-scroll="true"
                       data-unfold-animation-in="slideInUp"
                       data-unfold-animation-out="fadeOut">
                      <span class="ec ec-search"></span>
                    </a>

                    <!-- Input -->
                    <div id="searchClassic" class="dropdown-menu dropdown-unfold dropdown-menu-right left-0 mx-2" aria-labelledby="searchClassicInvoker">
                      <form class="js-focus-state input-group px-3">
                        <input class="form-control" type="search" placeholder="Search Product">
                        <div class="input-group-append">
                          <button class="btn btn-primary px-3" type="button"><i class="font-size-18 ec ec-search"></i></button>
                        </div>
                      </form>
                    </div>
                    <!-- End Input -->
                  </li>
                  <!-- End Search -->
                  <li class="col d-none d-xl-block"><a href="https://transvelo.github.io/electro-html/2.0/html/shop/compare.html" class="text-gray-90" data-toggle="tooltip" data-placement="top" title="Compare"><i class="font-size-22 ec ec-compare"></i></a></li>
                  <li class="col d-none d-xl-block"><a href="https://transvelo.github.io/electro-html/2.0/html/shop/wishlist.html" class="text-gray-90" data-toggle="tooltip" data-placement="top" title="Favorites"><i class="font-size-22 ec ec-favorites"></i></a></li>
                  <li class="col d-xl-none px-2 px-sm-3"><a href="https://transvelo.github.io/electro-html/2.0/html/shop/my-account.html" class="text-gray-90" data-toggle="tooltip" data-placement="top" title="My Account"><i class="font-size-22 ec ec-user"></i></a></li>
                  <li class="col pr-xl-0 px-2 px-sm-3 d-xl-none">
                    <a th:href="@{/cart}" class="text-gray-90 position-relative d-flex " data-toggle="tooltip" data-placement="top" title="Cart">
                      <i class="font-size-22 ec ec-shopping-bag"></i>
                      <span class="bg-lg-down-black width-22 height-22 bg-primary position-absolute d-flex align-items-center justify-content-center rounded-circle left-12 top-8 font-weight-bold font-size-12">[[${numberofItem}]]</span>
                      <span class="d-none d-xl-block font-weight-bold font-size-16 text-gray-90 ml-3">[[${estimatedPriceTotal}]]</span>
                    </a>
                  </li>
                  <li class="col pr-xl-0 px-2 px-sm-3 d-none d-xl-block">
                    <div id="basicDropdownHoverInvoker" class="text-gray-90 position-relative d-flex " data-toggle="tooltip" data-placement="top" title="Cart"
                         aria-controls="basicDropdownHover"
                         aria-haspopup="true"
                         aria-expanded="false"
                         data-unfold-event="click"
                         data-unfold-target="#basicDropdownHover"
                         data-unfold-type="css-animation"
                         data-unfold-duration="300"
                         data-unfold-delay="300"
                         data-unfold-hide-on-scroll="true"
                         data-unfold-animation-in="slideInUp"
                         data-unfold-animation-out="fadeOut">
                      <i class="font-size-22 ec ec-shopping-bag"></i>
                      <span class="bg-lg-down-black width-22 height-22 bg-primary position-absolute d-flex align-items-center justify-content-center rounded-circle left-12 top-8 font-weight-bold font-size-12">[[${numberofItem}]]</span>
                      <span class="d-none d-xl-block font-weight-bold font-size-16 text-gray-90 ml-3">[[${estimatedPriceTotal}]]</span>
                    </div>
                    <div id="basicDropdownHover" class="cart-dropdown dropdown-menu dropdown-unfold border-top border-top-primary mt-3 border-width-2 border-left-0 border-right-0 border-bottom-0 left-auto right-0" aria-labelledby="basicDropdownHoverInvoker">
                      <ul class="list-unstyled px-3 pt-3">

                        <th:block th:each="item : ${cartItems}">
                          <li class="border-bottom pb-3 mb-3" th:with="product = ${item.product}">
                            <div class="">
                              <ul class="list-unstyled row mx-n2">
                                <li class="px-2 col-auto">
                                  <img class="img-fluid w-20" th:src="@{${product.mainImagePath}}" alt="Image Description">
                                </li>
                                <li class="px-2 col">
                                  <h5 class="text-blue font-size-14 font-weight-bold">[[${product.shortName}]]</h5>
                                  <span class="font-size-14">[[${item.quantity}]] × [[product.cost]]</span>
                                </li>
                                <li class="px-2 col-auto">
                                  <a th:href="@{'/p/' + ${product.alias}}" class="text-gray-90" target="_blank">View</a>
                                </li>
                              </ul>
                            </div>
                          </li>
                        </th:block>

                      </ul>
                      <div class="flex-center-between px-4 pt-2">
                        <a th:href="@{/cart}" class="btn btn-soft-secondary mb-3 mb-md-0 font-weight-normal px-5 px-md-4 px-lg-5">View cart</a>
                        <a th:href="@{/checkout}" class="btn btn-primary-dark-w ml-md-2 px-5 px-md-4 px-lg-5">Checkout</a>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <!-- End Header Icons -->
          </div>
        </div>
      </div>
      <!-- End Logo-Search-header-icons -->

      <!-- Vertical-and-secondary-menu -->
      <div class="d-none d-xl-block container">
        <div class="row">
          <!-- Vertical Menu -->
          <div class="col-md-auto d-none d-xl-block">
            <div class="max-width-270 min-width-270">
              <!-- Basics Accordion -->
              <div id="basicsAccordion">
                <!-- Card -->
                <div class="card border-0">
                  <div class="card-header card-collapse border-0" id="basicsHeadingOne">
                    <button type="button" class="btn-link btn-remove-focus btn-block d-flex card-btn py-3 text-lh-1 px-4 shadow-none btn-primary rounded-top-lg border-0 font-weight-bold text-gray-90"
                            data-toggle="collapse"
                            data-target="#basicsCollapseOne"
                            aria-expanded="true"
                            aria-controls="basicsCollapseOne">
                                                <span class="ml-0 text-gray-90 mr-2">
                                                    <span class="fa fa-list-ul"></span>
                                                </span>
                      <span class="pl-1 text-gray-90">All Categories</span>
                    </button>
                  </div>
                  <div id="basicsCollapseOne" class="collapse show vertical-menu"
                       aria-labelledby="basicsHeadingOne"
                       data-parent="#basicsAccordion">
                    <div class="card-body p-0">
                      <nav class="js-mega-menu navbar navbar-expand-xl u-header__navbar u-header__navbar--no-space hs-menu-initialized">
                        <div id="navBar" class="collapse navbar-collapse u-header__navbar-collapse">
                          <ul class="navbar-nav u-header__navbar-nav">
                            <li class="nav-item u-header__nav-item"
                                data-event="hover"
                                data-position="left">
                              <a th:href="@{/p/value_of_day}" class="nav-link u-header__nav-link font-weight-bold">Value of the Day</a>
                            </li>
                            <li class="nav-item u-header__nav-item"
                                data-event="hover"
                                data-position="left">
                              <a th:href="@{/c/top_10_offers}" class="nav-link u-header__nav-link font-weight-bold">Top 10 Offers</a>
                            </li>
                            <li class="nav-item u-header__nav-item"
                                data-event="hover"
                                data-position="left">
                              <a th:href="@{/c/new_arrivals}" class="nav-link u-header__nav-link font-weight-bold">New Arrivals</a>
                            </li>

                            <th:block th:each="cat : ${listNoParentCategories}">
                              <!-- Nav Item MegaMenu -->
                              <li class="nav-item hs-has-mega-menu u-header__nav-item"
                                  data-event="hover"
                                  data-animation-in="slideInUp"
                                  data-animation-out="fadeOut"
                                  data-position="left">
                                <a id="basicMegaMenu" class="nav-link u-header__nav-link u-header__nav-link-toggle" href="javascript:;" aria-haspopup="true" aria-expanded="false">[[${cat.name}]]</a>

                                <!-- Nav Item - Mega Menu -->
                                <div class="hs-mega-menu vmm-tfw u-header__sub-menu" aria-labelledby="basicMegaMenu">
                                  <div class="vmm-bg">
                                    <img class="img-fluid" th:src="@{${cat.imagePath}}" alt="Image Description">
                                  </div>
                                  <div class="row u-header__mega-menu-wrapper">
                                    <div class="col mb-3 mb-sm-0">
                                      <span class="u-header__sub-menu-title">[[${cat.name}]]</span>
                                      <ul class="u-header__sub-menu-nav-group mb-3">

                                        <th:block th:each="subCat : ${cat.getChildren()}">
                                          <li><a class="nav-link u-header__sub-menu-nav-link" th:href="@{'/c/' + ${subCat.alias}}">[[${subCat.name}]]</a></li>
                                        </th:block>


                                        <li>
                                          <a class="nav-link u-header__sub-menu-nav-link u-nav-divider border-top pt-2 flex-column align-items-start" th:href="@{'/c/' + ${cat.alias}}">
                                            <div class="">All [[${cat.name}]]</div>
                                            <div class="u-nav-subtext font-size-11 text-gray-30">Discover more products</div>
                                          </a>
                                        </li>

                                      </ul>
                                    </div>

                                  </div>
                                </div>
                                <!-- End Nav Item - Mega Menu -->
                              </li>
                            </th:block>
                            <!-- End Nav Item MegaMenu-->

                          </ul>
                        </div>
                      </nav>
                    </div>
                  </div>
                </div>
                <!-- End Card -->
              </div>
              <!-- End Basics Accordion -->
            </div>
          </div>
          <!-- End Vertical Menu -->
          <!-- Secondary Menu -->
          <div class="col">
            <!-- Nav -->
            <nav class="js-mega-menu navbar navbar-expand-md u-header__navbar u-header__navbar--no-space">
              <!-- Navigation -->
              <div id="navBar" class="collapse navbar-collapse u-header__navbar-collapse">
                <ul class="navbar-nav u-header__navbar-nav">
                  <!-- Home -->
                  <li class="nav-item hs-has-mega-menu u-header__nav-item"
                      data-event="click"
                      data-animation-in="slideInUp"
                      data-animation-out="fadeOut"
                      data-position="left">
                    <a id="homeMegaMenu" class="nav-link u-header__nav-link u-header__nav-link-toggle text-sale" href="javascript:;" aria-haspopup="true" aria-expanded="false">Category</a>

                    <!-- Home - Mega Menu -->
                    <div class="hs-mega-menu w-100 u-header__sub-menu" aria-labelledby="homeMegaMenu">
                      <div class="row u-header__mega-menu-wrapper">
                        <th:block th:each="cat : ${listNoParentCategories}">
                          <div class="col-md-3">
                            <span class="u-header__sub-menu-title">[[${cat.name}]]</span>
                            <ul class="u-header__sub-menu-nav-group">
                              <th:block th:each="subCat : ${cat.getChildren()}">
                                <li><a th:href="@{'/c/' + ${subCat.alias}}" class="nav-link u-header__sub-menu-nav-link">[[${subCat.name}]]</a></li>
                              </th:block>
                              <li><a th:href="@{/c/0}" class="nav-link u-header__sub-menu-nav-link text-blue">more</a></li>
                            </ul>
                          </div>
                        </th:block>
                      </div>
                    </div>
                    <!-- End Home - Mega Menu -->
                  </li>
                  <!-- End Home -->

                  <!-- Featured Brands -->
                  <li class="nav-item u-header__nav-item">
                    <a class="nav-link u-header__nav-link" href="index.html#" aria-haspopup="true" aria-expanded="false" aria-labelledby="pagesSubMenu">Featured Brands</a>
                  </li>
                  <!-- End Featured Brands -->

                  <!-- Trending Styles -->
                  <li class="nav-item u-header__nav-item">
                    <a class="nav-link u-header__nav-link" href="index.html#" aria-haspopup="true" aria-expanded="false" aria-labelledby="blogSubMenu">Trending Styles</a>
                  </li>
                  <!-- End Trending Styles -->

                  <!-- Gift Cards -->
                  <li class="nav-item u-header__nav-item">
                    <a class="nav-link u-header__nav-link" href="index.html#" aria-haspopup="true" aria-expanded="false">Gift Cards</a>
                  </li>
                  <!-- End Gift Cards -->

                  <!-- Button -->
                  <li class="nav-item u-header__nav-last-item">
                    <a class="text-gray-90" th:href="@{/}" target="_blank">
                      Free Shipping on Orders [[${CURRENCY_SYMBOL}]]50+
                    </a>
                  </li>
                  <!-- End Button -->
                </ul>
              </div>
              <!-- End Navigation -->
            </nav>
            <!-- End Nav -->
          </div>
          <!-- End Secondary Menu -->
        </div>
      </div>
      <!-- End Vertical-and-secondary-menu -->
    </div>
  </header>
  <!-- ========== END HEADER ========== -->




</div>

</body>
</html>