<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments :: page_head('Products - Shopme Admin')" >
	</head>

<body class="sidebar-menu-collapsed">
    <div class="se-pre-con"></div>

    <section th:replace="fragments :: menu"></section>
  
  <div class="main-content">
    <!-- content -->
    <div class="container ">
      
      
		 <!-- breadcrumbs -->
		 <nav aria-label="breadcrumb" class="mb-4">
			<ol class="breadcrumb my-breadcrumb">
				<li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
        <li class="breadcrumb-item"><a th:href="@{/products}">products</a></li>
				<li class="breadcrumb-item active" aria-current="page">Products Form</li>
			</ol>
		</nav>
		<!-- //breadcrumbs -->


      <div>
        <h2>Manage Products | [[${pageTitle}]]</h2>	
      </div>
          
      <form
	  th:action="@{/products/save}" method="post"
		th:object="${product}"> 
		<input type="hidden" th:field="*{id}" />
		<div>
			<ul class="nav nav-tabs" id="myTab" role="tablist">
			  <li class="nav-item">
				<a class="nav-link active" data-toggle="tab" href="#overview" role="tab">Overview</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" data-toggle="tab" href="#description" role="tab">Description</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" data-toggle="tab" href="#images" role="tab">Images</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" data-toggle="tab" href="#details" role="tab">Details</a>
			  </li>
			</ul>
			
			<div class="tab-content">
			  <div class="tab-pane active p-3" id="overview" role="tabpanel">
				  <div th:replace="products/productOverview :: content"></div>
			  </div>
			  <div class="tab-pane" id="description" role="tabpanel">Description</div>
			  <div class="tab-pane" id="images" role="tabpanel">Images</div>
			  <div class="tab-pane" id="details" role="tabpanel">Details</div>
			</div>	
		</div>
	<div class="text-center">
		<input type="submit" value="Save" class="btn btn-primary m-3" />
		<input type="button" value="Cancel" class="btn btn-secondary" id="buttonCancel" />
	</div>
	</form>

    
    </div>
  </div>
  <!-- <div th:replace="modal_fragments :: modal_dialog"></div> -->

    <!--footer section start-->
    <footer class="dashboard" th:replace="fragments :: footer"></footer>
  <!--footer section end-->
<script th:src="@{/assets/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/assets/js/jquery-1.10.2.min.js}"></script>

<script th:src="@{/assets/js/jquery.nicescroll.js}"></script>
<script th:src="@{/assets/js/scripts.js}"></script>

<!-- close script -->
<script>
  var closebtns = document.getElementsByClassName("close-grid");
  var i;

  for (i = 0; i < closebtns.length; i++) {
    closebtns[i].addEventListener("click", function () {
      this.parentElement.style.display = 'none';
    });
  }
</script>
<!-- //close script -->

<!-- disable body scroll when navbar is in active -->
<script>
  $(function () {
    $('.sidebar-menu-collapsed').click(function () {
      $('body').toggleClass('noscroll');
    })
  });
</script>
<!-- disable body scroll when navbar is in active -->

 <!-- loading-gif Js -->
 <script th:src="@{/assets/js/modernizr.js}"></script>
 <script>
     $(window).load(function () {
         // Animate loader off screen
         $(".se-pre-con").fadeOut("slow");;
     });
 </script>
 <!--// loading-gif Js -->

<!-- Bootstrap Core JavaScript -->
<script th:src="@{/assets/js/bootstrap.min.js}"></script>
</script>


<script type="text/javascript">
	moduleURL = "[[@{/products}]]";
	brandModuleURL = "[[@{/brands}]]";
	
	dropdownBrands = $("#brand");
	dropdownCategories = $("#category");
	
	$(document).ready(function() {
		dropdownBrands.change(function() {
			dropdownCategories.empty();
			getCategories();
		});	
		
		getCategories();
	});
	
	
	function getCategories() {
		brandId = dropdownBrands.val(); 
		url = brandModuleURL + "/" + brandId + "/categories";
		
		$.get(url, function(responseJson) {
			$.each(responseJson, function(index, category) {
				$("<option>").val(category.id).text(category.name).appendTo(dropdownCategories);
			});			
		});
	}
</script>

</body>

</html>