<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="content">

    <div class="row mb-3 text-center">
    <small class="text-muted float-end">The following information is important to calculate shipping cost for the Product. <br>
    The dimension (L X W X H) is for the box is that used to package the product - not the product's dimensions.
    </small>
    </div>

    <div class="row mb-3">
        <label class="col-sm-2 col-form-label"
               for="length">Length (inch)</label>
        <div class="col-sm-10">
            <div class="input-group input-group-merge">
                <input type="number"
                       id="length"
                       step="0.01"
                       class="form-control"
                       placeholder="Brand Name"
                       aria-label="cost"
                       th:field="*{length}"
                       aria-describedby="length"
                />
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-2 col-form-label"
               for="width">Width (inch)</label>
        <div class="col-sm-10">
            <div class="input-group input-group-merge">
                <input type="number"
                       id="width"
                       class="form-control"
                       placeholder="Brand Name"
                       aria-label="width"
                       th:field="*{width}"
                       aria-describedby="width"
                />
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-2 col-form-label"
               for="height">Height (inch)</label>
        <div class="col-sm-10">
            <div class="input-group input-group-merge">
                <input type="number"
                       id="height"
                       class="form-control"
                       placeholder="Brand Name"
                       aria-label="height"
                       th:field="*{height}"
                       aria-describedby="height"
                />
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-2 col-form-label"
               for="weight">Weight (pounds)</label>
        <div class="col-sm-10">
            <div class="input-group input-group-merge">
                <input type="number"
                       id="weight"
                       class="form-control"
                       placeholder="Brand Name"
                       aria-label="weight"
                       th:field="*{weight}"
                       aria-describedby="weight"
                />
            </div>
        </div>
    </div>
</div>
</body>
</html>