<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<head th:replace="fragments :: page_head(${pageTitle}, 'tag')" />
		<link rel="stylesheet" th:href="@{/richtext/richtext.min.css}" />
		<script th:src="@{/richtext/jquery.richtext.min.js}"></script>
	</head>

<body class="sidebar-menu-collapsed">
    <div class="se-pre-con"></div>

    <section th:replace="fragments :: menu"></section>
  
  <div class="main-content">
    <!-- content -->
    <div class="container ">
      
      
		 <!-- breadcrumbs -->
		 <nav aria-label="breadcrumb" class="mb-4">
			<ol class="breadcrumb my-breadcrumb">
				<li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
        <li class="breadcrumb-item"><a th:href="@{/products}">products</a></li>
				<li class="breadcrumb-item active" aria-current="page">Products Form</li>
			</ol>
		</nav>
		<!-- //breadcrumbs -->


      <div>
        <h2>Manage Products | [[${pageTitle}]]</h2>	
      </div>
           
    </div>

	
	<div class="col-10">
		<form th:action="@{/products/save}" method="post" onsubmit="return checkUnique(this)"
		enctype="multipart/form-data"
		th:object="${product}">
		<input type="hidden" th:field="*{id}" />
	<div>
		<!-- important -->
		<ul class="nav nav-tabs" id="myTab" role="tablist">
		  <li class="nav-item">
		    <a class="nav-link active" data-toggle="tab" href="#overview" role="tab">Overview</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" data-toggle="tab" href="#description" role="tab">Description</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" data-toggle="tab" href="#images" role="tab">Images</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" data-toggle="tab" href="#details" role="tab">Details</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" data-toggle="tab" href="#shipping" role="tab">Shipping</a>
		  </li>		  
		</ul>
		
		<div class="tab-content">
		  <div class="tab-pane active p-3" id="overview" role="tabpanel">
		  	<div th:replace="products/productOverview :: content"></div>
		  </div>
		  <div class="tab-pane" id="description" role="tabpanel">
		  	<div th:replace="products/productDescription :: content"></div>
		  </div>
		  <div class="tab-pane" id="images" role="tabpanel">
		  	<div th:replace="products/productImages :: content"></div>
		  </div>
		  <div class="tab-pane" id="details" role="tabpanel">Details</div>
		  <div class="tab-pane p-3" id="shipping" role="tabpanel">
		  	<div th:replace="products/productShipping :: content"></div>
		  </div>
		</div>	
	</div>
	<div class="text-center">
		<input type="submit" value="Save" class="btn btn-primary m-3" />
		<input type="button" value="Cancel" class="btn btn-secondary" id="buttonCancel" />
	</div>
	</form>
</div>



  </div>
  <div th:replace="modal_fragments :: modal_dialog"></div>
   

    <!--footer section start-->
    <footer class="dashboard" th:replace="fragments :: footer"></footer>
  <!--footer section end-->
<script th:src="@{/assets/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/assets/js/jquery-1.10.2.min.js}"></script>

<script th:src="@{/assets/js/jquery.nicescroll.js}"></script>
<script th:src="@{/assets/js/scripts.js}"></script>

<!-- close script -->
<script>
  var closebtns = document.getElementsByClassName("close-grid");
  var i;

  for (i = 0; i < closebtns.length; i++) {
    closebtns[i].addEventListener("click", function () {
      this.parentElement.style.display = 'none';
    });
  }
</script>
<!-- //close script -->

<!-- disable body scroll when navbar is in active -->
<script>
  $(function () {
    $('.sidebar-menu-collapsed').click(function () {
      $('body').toggleClass('noscroll');
    })
  });
</script>
<!-- disable body scroll when navbar is in active -->

 <!-- loading-gif Js -->
 <script th:src="@{/assets/js/modernizr.js}"></script>
 <script>
     $(window).load(function () {
         // Animate loader off screen
         $(".se-pre-con").fadeOut("slow");;
     });
 </script>
 <!--// loading-gif Js -->

<!-- Bootstrap Core JavaScript -->
<script th:src="@{/assets/js/bootstrap.min.js}"></script>



<script type="text/javascript">
	MAX_FILE_SIZE = 502400; // 500KB
	
	moduleURL = "[[@{/products}]]";
	brandModuleURL = "[[@{/brands}]]";
	
	dropdownBrands = $("#brand");
	dropdownCategories = $("#category");
	
	$(document).ready(function() {
		
		// $("#shortDescription").richText();
		// $("#fullDescription").richText();
		
		dropdownBrands.change(function() {
			dropdownCategories.empty();
			getCategories();
		});	
		
		getCategories();
	});
	
	
	function getCategories() {
		brandId = dropdownBrands.val(); 
		url = brandModuleURL + "/" + brandId + "/categories";
		
		$.get(url, function(responseJson) {
			$.each(responseJson, function(index, category) {
				$("<option>").val(category.id).text(category.name).appendTo(dropdownCategories);
			});			
		});
	}
	
	function checkUnique(form) {
		productId = $("#id").val();
		productName = $("#name").val();
		
		csrfValue = $("input[name='_csrf']").val();
		
		url = "[[@{/products/check_unique}]]";
		
		params = {id: productId, name: productName, _csrf: csrfValue};
		
		$.post(url, params, function(response) {
			if (response == "OK") {
				form.submit();
			} else if (response == "Duplicate") {
				showWarningModal("There is another product having the name " + productName);	
			} else {
				showErrorModal("Unknown response from server");
			}
			
		}).fail(function() {
			showErrorModal("Could not connect to the server");
		});
		
		return false;
	}	
</script>

<script th:src="@{/assets/js/common_form.js}"></script>

</body>

</html>