<!DOCTYPE html>
<!-- beautify ignore:start -->
<html
        lang="en"
        class="light-style layout-menu-fixed"
        dir="ltr"
        data-theme="theme-default"
        data-assets-path="../assets/"
        data-template="vertical-menu-template-free"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
<head th:replace="fragments  :: page_head(${pageTitle},'none')">
</head>

<body>
<!--&lt;!&ndash; Layout wrapper &ndash;&gt;-->
<div class="layout-wrapper layout-content-navbar">
  <div class="layout-container">
    <!-- Menu -->

    <aside th:replace="fragments :: page_sidebar">
    </aside>
    <!-- / Menu -->

    <!-- Layout container -->
    <div class="layout-page">
      <!-- Navbar -->

      <nav th:replace="fragments :: page_navbar">
      </nav>

      <!-- / Navbar -->

      <!--             Content wrapper-->
      <div class="content-wrapper">
        <!-- Content -->

        <div class="container-xxl flex-grow-1 container-p-y">
          <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Brand/</span> [[${pageTitle}]]</h4>

          <!-- User Adding Form -->
          <div class="row">
            <div class="col-xxl">
              <div class="card mb-4">
                <div class="card-header d-flex align-items-center justify-content-between">
                  <h5 class="mb-0">Complete the From</h5>
                  <small class="text-muted float-end">Brand Details</small>
                </div>
                <div class="card-body">

                  <form th:object="${brand}"
                        th:action="@{/brands/save}"
                        method="post"
                        onsubmit="return checkUnique(this)"
                        enctype="multipart/form-data">
                    <input type="hidden" th:field="*{id}">
                    <div class="row mb-3">
                      <label class="col-sm-2 col-form-label"
                             for="name">Brand Name</label>
                      <div class="col-sm-10">
                        <div class="input-group input-group-merge">
                          <span class="input-group-text"><i class="bx bx-font"></i></span>
                          <input type="text"
                                 id="name"
                                 class="form-control"
                                 placeholder="Brand Name"
                                 aria-label="name"
                                 th:field="*{name}"
                                 required
                                 minlength="3"
                                 maxlength="128"
                                 aria-describedby="name"
                          />
                        </div>
                        <div class="form-text"><sup>*</sup> Should have minimum 3 character</div>
                      </div>
                    </div>


                    <div class="row mb-3">
                      <label class="col-sm-2 col-form-label" for="fileImage">Brand Logo</label>
                      <div class="col-sm-8 form-row">
                        <div class="input-group input-group-merge col">
                          <input type="hidden" th:field="*{logo}" />
                          <span class="input-group-text"><i class="bx bx-user"></i></span>
                          <input th:required="${brand.id == null}" class="form-control" id="fileImage" name="fileImage" type="file" accept="image/png, imaage/jpeg"/>
                        </div>
                        <div class="col mt-3">
                          <img th:src="@{${brand.logoPath}}" alt="Image preview" class="img-fluid w-px-150 h-px-150" id="thumbnail">
                        </div>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label class="col-sm-2 col-form-label"
                             for="name">Select Categories
                      </label>
                      <div class="col-sm-10">
                        <div class="input-group">
                          <label class="input-group-text" for="categories">Options</label>
                          <select th:field="*{categories}" multiple required style="resize: vertical" class="form-select" name="categories" id="categories">
                            <th:block th:each="category : ${listCategory}">
                              <option th:value="${category.id}">[[${category.name}]]</option>
                            </th:block>
                          </select>

                        </div>
                        <div class="form-text"><sup>*</sup> Press CTRL key to select multiple</div>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label class="col-sm-2 col-form-label"
                             for="name">Choosen Categories
                      </label>
                      <div class="col-sm-10" id="choosenCategories">

                      </div>
                    </div>



                    <div class="row justify-content-end">
                      <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary">Save</button>
                      </div>
                    </div>
                  </form>
                  <!-- Modal -->
                  <div th:replace="modal :: modal">

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- / Content -->

      <!-- Footer -->
      <footer th:replace="fragments :: page_footer">
      </footer>
      <!-- / Footer -->

      <div class="content-backdrop fade"></div>
    </div>
    <!-- Content wrapper -->
  </div>
  <!-- / Layout page -->
</div>

<!-- Overlay -->
<div class="layout-overlay layout-menu-toggle"></div>
</div>
<!-- / Layout wrapper -->

<script type="text/javascript">
  MAX_FILE_SZIE = 102400; //100KB


  function checkUnique(form){
    brandId = $("#id").val();
    brandName = $("#name").val();

    csrfValue = $("input[name='_csrf']").val();

    url = "[[@{/brands/check_unique}]]";

    params = {id: brandId,name:brandName, _csrf: csrfValue};

    $.post(url,params, function (response){
      if (response == "OK"){
        form.submit();
      }else if(response == "Duplicate"){
        showWarningModal("There is another brand having same name "+brandName+".");
      }else{
        showErrorModal("Unknown response from server");
      }
    }).fail(function (){
      showErrorModal("Could not connect to the server");
    })

    return false;
  }

  // $('option').mousedown(function(e) {
  //   e.preventDefault();
  //   $(this).prop('selected', !$(this).prop('selected'));
  //   return false;
  // });

  $(document).ready(function (){
    dropdownCategories = $("#categories");
    divChoosenCategories = $("#choosenCategories");

    dropdownCategories.change(function (){
      divChoosenCategories.empty();
      showChoosenCategories();
    });

    showChoosenCategories();

  })

  function showChoosenCategories(){
    dropdownCategories.children("option:selected").each(function (){
      selectedCategory = $(this);
      catId = selectedCategory.val();
      catName = selectedCategory.text().replace(/-/g,"");


      divChoosenCategories.append("<span class='badge bg-label-primary me-1'>" + catName + "</span>");
    })
  }

  // function checkUnique(form){
  //     catId = $("#id").val();
  //     catName = $("#name").val();
  //     catAlias = $("#alias").val();
  //     csrfValue = $("input[name='_csrf']").val();
  //
  //     url = "[[@{/categories/check_unique}]]";
  //
  //     params={id: catId,name: catName,alias: catAlias,_csrf: csrfValue}
  //
  //     $.post(url,params,function(response){
	// 	  if (response == "OK"){
  //           console.log("Ok")
  //           form.submit();
  //         }else if (response == "DuplicateName"){
  //           showWarningModal("There is another category having the name: "+catName);
  //         }else if (response == "DuplicateAlias"){
  //           showWarningModal("There is another category having the alias: "+catAlias);
  //         }else{
  //           showErrorModal("Unknown response from server");
  //         }
	//   }).fail(function(){
	// 	 showErrorModal("Could not connect to Server");
	//   });
  //
  //     return false;
  // }

</script>

<script type="text/javascript" th:src="@{/js/common_form.js}"></script>

<!-- Core JS-->
<!-- build:js assets/vendor/js/core.js-->
<script th:src="@{/assets/vendor/libs/jquery/jquery.js}"></script>
<script th:src="@{/assets/vendor/libs/popper/popper.js}"></script>
<script th:src="@{/assets/vendor/js/bootstrap.js}"></script>
<script th:src="@{/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js}"></script>

<script th:src="@{/assets/vendor/js/menu.js}"></script>
<!-- endbuild -->

<!-- Vendors JS -->
<script th:src="@{/assets/vendor/libs/apex-charts/apexcharts.js}"></script>

<!-- Main JS -->
<script th:src="@{/assets/js/main.js}"></script>

<!-- Page JS -->
<script th:src="@{/assets/js/dashboards-analytics.js}"></script>


</body>
</html>
