<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<head th:replace="fragments :: page_head('Settings - Shopme Admin', 'tag')" />
	<link rel="stylesheet" th:href="@{/richtext/richtext.min.css}" />
	<script th:src="@{/richtext/jquery.richtext.min.js}"></script>
</head>
<body class="sidebar-menu-collapsed">
	<div class="se-pre-con"></div>

	<section th:replace="fragments :: menu"></section>

	<div class="main-content">
		<!-- content -->
		<div class="container-fluid content-top-gap">


      <div class="container-fluid">
        
        <div>
          <h2>Site Settings</h2>	
        </div>
            
        <div th:if="${message != null}" class="alert alert-success text-center">
          [[${message}]]
        </div>
                
        <div>
          <ul class="nav nav-tabs" id="settingTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#general" role="tab">General</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#countries" role="tab">Countries</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#states" role="tab">States</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#mailServer" role="tab">Mail Server</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#mailTemplate" role="tab">Mail Templates</a>
            </li>		  
          </ul>
          
          <div class="tab-content">
            <div class="tab-pane active p-3" id="general" role="tabpanel">
              <div th:replace="settings/general :: content" />
            </div>
            <div class="tab-pane" id="countries" role="tabpanel">
            <h2>Countries</h2>
            </div>
            <div class="tab-pane" id="states" role="tabpanel">
            <h2>States</h2>
            </div>
            <div class="tab-pane p-3" id="mailServer" role="tabpanel">
            <h2>Mail Server</h2>
            </div>
            <div class="tab-pane p-3" id="mailTemplates" role="tabpanel">
            <h2>Mail Templates</h2>
            </div>	
           </div>
        </div>
      
        
        <div th:replace="fragments :: footer"></div>
        
      </div>


</div>
</div>

<footer class="dashboard" th:replace="fragments :: footer"></footer>

<script src="assets/js/jquery-3.3.1.min.js"></script>
  <script src="assets/js/jquery-1.10.2.min.js"></script>
   <!-- move top -->
<button onclick="topFunction()" id="movetop" class="bg-primary" title="Go to top">
  <span class="fa fa-angle-up"></span>
</button>
<script>
  // When the user scrolls down 20px from the top of the document, show the button
  window.onscroll = function () {
    scrollFunction()
  };

  function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      document.getElementById("movetop").style.display = "block";
    } else {
      document.getElementById("movetop").style.display = "none";
    }
  }

  // When the user clicks on the button, scroll to the top of the document
  function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
  }
</script>
<!-- /move top -->
  
  <script src="assets/js/jquery.nicescroll.js"></script>
  <script src="assets/js/scripts.js"></script>
  
  <!-- close script -->
  <script>
    var closebtns = document.getElementsByClassName("close-grid");
    var i;
  
    for (i = 0; i < closebtns.length; i++) {
      closebtns[i].addEventListener("click", function () {
        this.parentElement.style.display = 'none';
      });
    }
  </script>
  <!-- //close script -->
  
  <!-- disable body scroll when navbar is in active -->
  <script>
    $(function () {
      $('.sidebar-menu-collapsed').click(function () {
        $('body').toggleClass('noscroll');
      })
    });
  </script>
  <!-- disable body scroll when navbar is in active -->
  
   <!-- loading-gif Js -->
   <script src="assets/js/modernizr.js"></script>
   <script>
       $(window).load(function () {
           // Animate loader off screen
           $(".se-pre-con").fadeOut("slow");;
       });
   </script>
   <!--// loading-gif Js -->
  
  <!-- Bootstrap Core JavaScript -->
   <script src="assets/js/bootstrap.min.js"></script>

<script type="text/javascript">
	MAX_FILE_SIZE = 102400; // 100KB
</script>
<script th:src="@{/assets/js/common_form.js}"></script>
</body>
</html>