<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="content" th:remove="tag">
  <form th:action="@{/settings/save_general}"
        method="post"
        enctype="multipart/form-data"
  >
  <div class="row mb-3">
    <label class="col-sm-2 col-form-label">Site Name</label>
    <div class="col-sm-8">
      <div class="input-group input-group-merge">
        <input type="text"
               class="form-control"
               name="SITE_NAME"
               th:value="${SITE_NAME}"
               required
        />
      </div>
    </div>
  </div>

    <div class="row mb-3">
      <label class="col-sm-2 col-form-label">Copyright </label>
      <div class="col-sm-8">
        <div class="input-group input-group-merge">
          <input type="text"
                 class="form-control"
                 name="COPYRIGHT"
                 th:value="${COPYRIGHT}"
                 required
          />
        </div>
      </div>
    </div>

    <div class="row mb-3 form-group">
      <label class="col-sm-2 col-form-label" for="fileImage">Site Logo</label>
      <div class="col-sm-8 form-row">
        <div class="input-group input-group-merge">
          <input class="form-control mr-2" id="fileImage" name="fileImage" type="file" accept="image/png, imaage/jpeg"/>
        </div>
        <div class="col mt-3">
          <img th:src="@{${S3_BASE_URI + SITE_LOGO}}" alt="Image preview" class="img-fluid "width="150" height="70" id="thumbnail">
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <label class="col-sm-2 col-form-label">Currency Type </label>
      <div class="col-sm-8">
        <div class="input-group input-group-merge">
          <label class="input-group-text">Options</label>
          <select name="CURRENCY_ID" class="form-select">
          <th:block th:each="currency : ${listCurrencies}">
            <option th:value="${currency.id}" th:selected="(${currency.id} == ${CURRENCY_ID})">[[${currency}]]</option>
          </th:block>
          </select>
        </div>
      </div>
    </div>


    <div class="row mb-3">
      <label class="col-sm-2 col-form-label">Currency Symbol Position </label>
      <div class="col-sm-8">
        <div class="input-group input-group-merge">
          <label class="input-group-text">Options</label>
          <select name="CURRENCY_SYMBOL_POSITION"  class="form-select">
              <option value="Before Price" th:selected="(${CURRENCY_SYMBOL_POSITION} == 'Before Price')">Before Price</option>
            <option value="After Price" th:selected="(${CURRENCY_SYMBOL_POSITION} == 'After Price')">After Price</option>
          </select>
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <label class="col-sm-2 col-form-label">Decimal Point Type </label>
      <div class="col-sm-8">
        <div class="input-group input-group-merge">
          <label class="input-group-text">Options</label>
          <select name="DECIMAL_POINT_TYPE"  class="form-select">
            <option value="POINT" th:selected="(${DECIMAL_POINT_TYPE} == 'POINT')">Point (.)</option>
            <option value="COMMA" th:selected="(${DECIMAL_POINT_TYPE} == 'COMMA')">Comma (,)</option>
          </select>
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <label class="col-sm-2 col-form-label">Thousands Point Type </label>
      <div class="col-sm-8">
        <div class="input-group input-group-merge">
          <label class="input-group-text">Options</label>
          <select name="THOUSANDS_POINT_TYPE"  class="form-select">
            <option value="POINT" th:selected="(${THOUSANDS_POINT_TYPE} == 'POINT')">Point (.)</option>
            <option value="COMMA" th:selected="(${THOUSANDS_POINT_TYPE} == 'COMMA')">Comma (,)</option>
          </select>
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <label class="col-sm-2 col-form-label">Decimal Digits </label>
      <div class="col-sm-8">
        <div class="input-group input-group-merge">
          <label class="input-group-text">Options</label>
          <select name="DECIMAL_DIGITS"  class="form-select">
            <option value="0" th:selected="(${DECIMAL_DIGITS} == 0)">0</option>
            <option value="1" th:selected="(${DECIMAL_DIGITS} == 1)">1</option>
            <option value="2" th:selected="(${DECIMAL_DIGITS} == 2)">2</option>
            <option value="3" th:selected="(${DECIMAL_DIGITS} == 3)">3</option>
            <option value="4" th:selected="(${DECIMAL_DIGITS} == 4)">4</option>          </select>
        </div>
      </div>
    </div>


    <div class="row justify-content-end">
      <div class="col-sm-10">
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </div>
  </form>
</div>
</body>
</html>