<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="content" th:remove="tag">
  <form th:action="@{/settings/save_menus}"
        method="post"
        enctype="multipart/form-data"
  >
  <div class="row mb-3">
    <label class="col-sm-2 col-form-label">VALUE OF THE DAY</label>
    <div class="col-sm-8">
      <div class="input-group input-group-merge">
        <input type="text"
               class="form-control"
               name="SITE_NAME"
               th:value="${VALUE_OF_DAY}"
               required
        />
      </div>
      <small class="text-muted">Give the product alias completely.</small>
    </div>
  </div>

    <div class="row mb-3 form-group">
      <label class="col-sm-2 col-form-label" for="fileImage">Ad Image</label>
      <div class="col-sm-8 form-row">
        <div class="input-group input-group-merge">
          <input th:required="${AD_IMAGE == null}" class="form-control" id="ad_image" name="ad_image" type="file" accept="image/png, imaage/jpeg"/>
          <!--//cropper js-->
          <div id="ad_image-box" class="image-container"></div>
          <button class="btn btn-outline-info" id="ad_image_crop-btn" style="width: 100%; margin-top: 10px; display: none;" type="button">Crop</button>
        </div>
        <div class="col mt-3">
          <img th:src="@{${S3_BASE_URI + AD_IMAGE}}" alt="Image preview" class="img-fluid "width="150" height="70" id="thumbnail1">
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <label class="col-sm-2 col-form-label">AD LINK</label>
      <div class="col-sm-8">
        <div class="input-group input-group-merge">
          <input type="text"
                 class="form-control"
                 name="SITE_NAME"
                 th:value="${AD_LINK}"
                 required
          />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-10">
        <button type="submit" id="confirm-btn" class="btn btn-primary">Save</button>
      </div>
    </div>
  </form>
</div>
</body>
</html>